<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            padding-top: 0%;
            background-color: #f7f7f7;
        }

        pre {
            background-color: #e6e6e6;
            padding: 20px;
            display: inline-block;
        }

        h1 {
            color: #555;
        }
    </style>
</head>

<body>
    <h1>404 Not Found</h1>
    <pre>
░░░░░░░░░░░░░░░░▒▒░░░░░░░░░░    ░░░░  ░░░░░░  ░░░░░░░░                ░░░░░░░░░░░░▒▒░░▒▒░░░░░░  
░░░░░░▒▒▒▒░░░░▒▒▒▒░░░░░░░░░░    ░░░░░░░░    ░░░░░░░░░░░░░░░░░░              ░░░░░░░░░░░░░░░░    
░░░░░░▒▒▒▒▒▒░░░░░░░░░░░░      ░░  ░░            ░░░░░░░░░░░░░░░░░░                  ░░░░        
░░░░░░▒▒▒▒░░░░░░                            ░░░░░░░░░░░░░░░░░░      ░░          ░░░░      ░░░░░░
░░░░░░░░░░        ░░░░░░░░                                  ░░░░░░░░░░░░        ░░░░░░░░░░░░░░▒▒
            ░░░░░░░░▒▒░░                ░░░░░░░░░░            ░░░░░░  ░░          ░░░░░░░░░░▒▒▒▒
    ░░░░░░░░░░░░░░░░░░░░  ░░░░░░░░░░░░░░░░░░░░░░░░              ░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒
░░░░░░░░░░░░▒▒░░░░░░░░░░▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░        ░░░░░░░░░░▒▒▒▒░░░░░░▒▒▒▒▒▒▒▒▒▒
░░░░▒▒░░▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░▓▓▓▓▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░  ░░░░▒▒▒▒▒▒▓▓▒▒▓▓░░░░░░▒▒▒▒▓▓▓▓▒▒
░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░▒▒▓▓██▓▓██▓▓▓▓▒▒▒▒░░░░░░░░░░░░░░░░░░░░    ░░░░▒▒▓▓██████░░░░▒▒▒▒▒▒▒▒▒▒▒▒
░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░▒▒████████▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░  ░░░░░░▓▓██▓▓░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒
▒▒░░░░░░▒▒▒▒▓▓▒▒░░░░░░░░░░▓▓████▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▓▓░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓
▒▒▒▒░░░░░░▒▒▒▒▒▒░░░░░░░░░░▓▓▓▓▓▓░░▒▒░░░░░░░░░░░░░░  ▒▒▒▒▒▒▒▒░░░░░░▒▒░░░░░░░░▒▒░░░░▒▒▒▒▒▒▒▒▒▒▒▒▓▓
▓▓▓▓▓▓▒▒░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░  ░░▒▒▓▓▓▓▒▒▒▒▒▒▓▓▒▒░░░░░░░░░░▒▒▒▒▒▒░░▒▒▒▒▒▒▒▒
▓▓▓▓▓▓▓▓▒▒░░░░░░░░░░░░░░░░░░░░░░▒▒░░░░░░░░░░░░░░░░░░░░▒▒▒▒██▓▓▒▒▒▒██▒▒░░░░░░░░░░░░▒▒░░░░▒▒▒▒▒▒▒▒
▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒██▓▓▓▓▒▒░░░░░░░░  ░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒
▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒██▓▓░░░░░░░░░░    ░░░░▒▒▒▒░░▒▒▒▒▒▒
▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░  ░░░░░░▒▒▒▒▒▒▒▒▓▓▓▓░░░░  ░░░░    ░░░░░░░░░░▒▒▒▒▒▒
▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▓▓▓▓▓▓▒▒░░░░░░░░░░    ░░▒▒░░░░░░▒▒▒▒░░
░░░░░░░░░░▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓▓▒▒▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▒▒░░░░░░░░      ▒▒▒▒▒▒▒▒░░▒▒░░
░░░░░░░░▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒░░▓▓████▓▓▓▓▒▒░░░░░░░░      ▒▒▒▒▒▒░░░░░░░░
░░░░░░░░░░░░▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒░░▓▓████▒▒▒▒▒▒░░░░░░░░      ░░░░▒▒▒▒░░░░░░
░░░░░░░░░░░░░░▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▓▓▓▓▒▒▓▓▒▒▓▓████▒▒▒▒▒▒░░░░░░░░      ░░░░▒▒▒▒▒▒░░▒▒
░░░░░░▒▒░░░░▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒░░░░░░░░░░░░░░    ░░▒▒▒▒▒▒▒▒░░▒▒
▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▓▓▓▓████▓▓▓▓▓▓▒▒░░░░░░░░░░░░░░      ░░▒▒▒▒▒▒░░░░▒▒
▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▒▒░░░░░░░░░░░░░░░░      ░░░░▒▒▒▒░░▒▒▒▒
▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░▒▒▓▓░░▒▒▓▓▓▓▓▓▓▓▓▓▒▒▒▒░░░░░░░░░░░░░░░░        ░░▒▒░░░░▒▒▒▒
▒▒▒▒▒▒░░▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░▒▒▓▓░░▒▒▒▒▒▒▓▓▓▓▒▒▒▒░░░░░░░░░░░░░░░░░░░░      ░░░░▒▒░░░░▒▒

    </pre>
    <p>Seems you've strayed too far. No llamas here!</p>
</body>

</html>
