{% extends "pages/base.html" %}

{% block title %}
<title>About</title>
<meta property='og:title' content='About Mitta'/>
{% endblock %}

{% block content %}
<div class="container-fluid about">
  <div class="row">
    <div class="col col-lg-10 mt-5">
      <h2>Welcome</h2>
      <p>I'm really glad you are here and I want to assure you that this site <a href="/legal">never shares user's information</a>.</p>

      <p>As the sole founder, developer and designer of MittaAI, I bring nearly three decades of experience in the tech industry. It was over 21 years ago that I created Grub, one of the first Open Source web crawlers and the only web crawler to ever distribute the job of crawling the Internet. You can learn more about Grub's journey on <a href="https://en.wikipedia.org/wiki/Grub_(search_engine)">Wikipedia</a>. My exploration into Search and AI innovation led me to develop <a href="https://mitta.us">Mitta.us</a>, a service that merges visual web crawling with advanced Large Language Models (LLMs) for enhanced document processing and search capabilities.</p>

      <p>Building on these exploratory experiences, I've created MittaAI, a sophisticated pipeline management system designed for large-scale document and data processing. It uniquely allows for the construction of complex AI pipelines using Python templates, streamlining both writing and execution of code. A key feature of the software is its asynchronous processing capability, which significantly reduces inference times for complex workflows by enabling parallel task execution. </p>

      <p>The ideas behind MittaAI's offerings were also inspired by my previous ventures, including <a href="https://loggly.com">Loggly</a>, and my experiences at <a href="https://splunk.com">Splunk</a>, with a tight focus on simplifying and optimizing search queries for AI workloads.</p>

      <p>As a bootstrapped, sole-founder startup, MittaAI is a testament to the support and encouragement I've received from my family and friends. Stay updated on our progress by following <a href="https://twitter.com/mittacorp">@mittacorp</a> or <a href="https://twitter.com/campbellkord">@campbellkord</a> on social media.</p>

      <img src="/images/kord.png"/>
      <h3>Kord Campbell</h3>
      <p>Connect with me on <a href="https://www.linkedin.com/in/kordless/">LinkedIn</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
