{% extends "pages/base.html" %}

{% block title %}
<title>About</title>
<meta property='og:title' content='About Mitta'/>
{% endblock %}

{% block content %}
<div class="container-fluid about">
  <div class="row">
    <div class="col col-lg-10">
      <h2>Welcome</h2>
      <p>I'm really glad you are here and I want to assure you that this site <a href="/legal">never shares user's information</a>.</p>
      <p>As the founder, developer, and designer of MittaAI, I leverage almost three decades of tech industry experience. More than 21 years ago, I launched Grub, the pioneering Open Source web crawler and the first to decentralize internet crawling. Discover more about Grub's history on <a href="https://en.wikipedia.org/wiki/Grub_(search_engine)">Wikipedia</a>, who's holding company eventually aquired the technology. My extensive background in Search and AI fueled the creation of Mitta, an innovative AI operations pipeline and AI-enhanced user interface.</p>
      <p>Mitta offers comprehensive functions for building diverse AI agents with ease. Whether it's web crawling, indexing PDFs, storing data in a database, querying over 25 language models, transcribing audio, synthesizing speech and images, or converting media files across 100+ formats, Mitta provides an extensive array of capabilities for AI projects.</p>
      <p>The concept for MittaAI was inspired by my experiences founding <a href="https://loggly.com">Loggly</a> and working at <a href="https://splunk.com">Splunk</a>, focusing on simplifying and enhancing user workload management, regardless of scale.</p>
      <p>MittaAI's journey, as a bootstrapped venture, reflects the immense support from my family and friends. To stay informed about our developments, follow us on Twitter at <a href="https://twitter.com/mittacorp">@mittacorp</a> and <a href="https://twitter.com/campbellkord">@campbellkord</a>.</p>
      <img src="/images/kord.png"/>
      <h3 title="Dedicated to you, Nicole.">Kord Campbell</h3>
      <p>Let's connect on <a href="https://www.linkedin.com/in/kordless/">LinkedIn</a>.</p>
    </div>
  </div>
</div>
{% endblock %}
