<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block description %}
  <meta name="description" content='Blazing Fast AI Pipelines' />
  {% endblock %}
  {% block title %}
  <title>{{ brand.get('name') }}</title>
  <meta property='og:title' content="{{brand.get('name')}}"/>
  {% endblock %}
  <link rel="shortcut icon" href="/images/favicon.ico">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/fontawesome.css">
  <link rel="stylesheet" href="/css/brands.css">
  <link rel="stylesheet" href="/css/solid.css">
  <link rel="stylesheet" href="/css/toastr.min.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/css/style.css?version=1.1">
  
  {% block style %}
  {% endblock %}
</head>

<body class="app">

<nav class="navbar navbar-expand-sm fixed-top">
  <h3>
    <a class="site" href="/"><span class="greater-than">&gt;</span> {{brand.get('name')}}</a>
    <a href="{{brand.get('github_url')}}" target="_blank" class="link-icons hide-on-small"> <i class="fab fa-github"></i> </a>
    <a href="{{brand.get('slack_url')}}" target="_blank" class="link-icons"> <i class="fab fa-slack"></i> </a>
    <a href="{{brand.get('youtube_url')}}" target="_blank" class="link-icons"> <i class="fab fa-youtube"></i> </a>
  </h3>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="dropdown ml-auto">
      {% if username != "anonymous" %}
      <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{email}}</button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <!-- coming soon
        <a class="dropdown-item" href="/docs">Documentation</a>
        -->
        <a class="dropdown-item" href="/cookbooks">Cookbooks</a>
        <a class="dropdown-item" href="/settings">Settings</a>
        <a class="dropdown-item" href="/logout">Logout</a>
      </div>
      {% else %}
      <a href="/pipelines" class="btn btn-outline-light" type="button"><i class="fas fa-sign-in-alt"></i> Log In</a>
      {% endif %}
    </div>
  </div>
</nav>

<!-- Left Sidebar Navigation -->
<div class="sidebar">
  <div class="sidebar_list">
    <a href="/pipelines" {% if 'pipeline' in request.endpoint %}class="highlighted-link"{% endif %}>
      <i class="fas fa-code-branch"></i> <span>Pipelines</span>
    </a>
    <a href="/nodes" {% if 'node' in request.endpoint %}class="highlighted-link"{% endif %}>
      <i class="fas fa-cube"></i> <span>Nodes</span>
    </a>
    <a href="/templates" {% if 'template' in request.endpoint %}class="highlighted-link"{% endif %}>
      <i class="fas fa-file"></i> <span>Templates</span>
    </a>
    <a href="/tasks" {% if 'task' in request.endpoint %}class="highlighted-link"{% endif %}>
      <i class="fas fa-tasks"></i> <span>Tasks</span> <span id="task_count" class="task-badge badge rounded-pill bg-dark"></span> <span id="failed_count" class="task-badge badge rounded-pill bg-danger"></span>
    </a>
    <a href="/logs" {% if 'log' in request.endpoint %}class="highlighted-link"{% endif %}>
      <i class="fas fa-bug"></i> <span>Logs</span> <span id="log_count" class="task-badge badge rounded-pill bg-dark"></span>
    </a>
    <a href="/settings" {% if 'setting' in request.endpoint %}class="highlighted-link"{% endif %}>
      <i class="fas fa-cog"></i> <span>Settings</span>
    </a>
    <a href="/cookbooks">
      <i class="fas fa-book-open"></i> <span>Cookbooks</span>
    </a>
  </div>
</div>

{% macro generate_regular_badge(field_name, field_type) %}
    <span class="badge badge-dark">
        {{ field_name }}: {{ field_type }}
    </span><br/>
{% endmacro %}

{% macro generate_extra_badge(extra_name, extra_value) %}
    {% if extra_value is defined %}
        {% set badge_text = extra_name ~ ': ' ~ extra_value %}
    {% else %}
        {% set badge_text = extra_name %}
    {% endif %}
 
    <a tabindex="1" data-toggle="popover" role="button" data-placement="left" data-trigger="focus" data-content="{% if extra_value != '[user_extra]' %}{{ extra_value }}{% else %}[user_extra]{% endif %}" class="badge badge-dark extras">
        {{ extra_name }}
    </a> 
{% endmacro %}


{% block content %}
{% endblock %}


<!-- Bootstrap JS, Popper.js, and jQuery -->
<script type="text/javascript" charset="utf8" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="/js/popper.min.js"></script>
<script type="text/javascript" charset="utf8" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="/js/toastr.min.js"></script>
<script type="text/javascript" charset="utf8" src="/js/jquery-ui.js"></script>
<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="/js/utils.js"></script>

<script type="text/javascript">
$(document).ready(function() {

  // Set toastr options globally
  toastr.options = {
    "positionClass": "toast-bottom-right",
    "closeButton": true,
    "progressBar": true,
    "preventDuplicates": true,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  };

  {% for message in get_flashed_messages() %}
  toastr.info("{{message}}");
  {% endfor %}

  let fibA = 1, fibB = 1;
  let prevLogCount = null;
  let prevTaskCount = null;
  let prevFailedCount = null;
  let timeoutId = null; // To keep track of the current timeout ID

  function bounceAnimation(nodeId, pipeId) {
    // Selector targets both buttons and li elements with the specified data-node_id and data-pipe_id
    let selector = `[data-node_id='${nodeId}'][data-pipe_id='${pipeId}'], li:has(button[data-node_id='${nodeId}'][data-pipe_id='${pipeId}'])`;
    let elements = $(selector);

    elements.addClass('bounce'); // Add the bounce class to start the animation

    // Remove the bounce class after the animation ends
    setTimeout(function() {
        elements.removeClass('bounce');
    }, 500); // Assuming the animation duration is 0.5s
  }

  function updateTaskCount() {
    $.ajax({
      url: '/task_log/count',
      type: 'GET',
      success: function(response) {
        let logCountChanged = prevLogCount !== response.log_count;
        let taskCountChanged = prevTaskCount !== response.task_count;
        let failedCountChanged = prevFailedCount !== response.failed_count;

        if (response.log_count == 0) {
          if ($('#log_count').text() !== '') $('#log_count').text('');
        } else {
          if ($('#log_count').text() != response.log_count.toString()) {
            $('#log_count').text(response.log_count);
          }
        }

        if (response.task_count == 0) {
          $('#task_count').text('');
        } else {
          $('#task_count').text(response.task_count);
        }

        if (response.failed_count == 0) {
          $('#failed_count').text('');
        } else {
          $('#failed_count').text(response.failed_count);
        }

        // Update the previous counts
        prevLogCount = response.log_count;
        prevTaskCount = response.task_count;
        prevFailedCount = response.failed_count;

        // Reset Fibonacci sequence if counts have changed
        if (logCountChanged || taskCountChanged || failedCountChanged) {
            fibA = 1;
            fibB = 1;
        }

        $.each(response.active_nodes, function(index, nodeInfo) {
          // Trigger the bounce animation for the specified node_id under the specific pipe_id
          bounceAnimation(nodeInfo.node_id, nodeInfo.pipe_id);
        });
      },
      error: function(xhr, status, error) {
          console.error("Error fetching task count: ", error);
      },
      complete: function() {
        let nextFib = fibA + fibB;
        fibA = fibB;
        fibB = nextFib;
        let timeout = Math.min(Math.max(nextFib, 1), 30) * 1000;

        // Clear existing timeout and set a new one
        clearTimeout(timeoutId);
        timeoutId = setTimeout(updateTaskCount, timeout);
      }
    });
  }
  timeoutId = setTimeout(updateTaskCount, 1000);
});
</script>

{% block javascript %}
{% endblock %}

</body>
</html>
