{% extends "pages/base.html" %}

{% block title %}
<title>Cookbooks</title>
<meta property='og:title' content='MittaAI cookbooks'/>
{% endblock %}

{% block content %}
<div class="container-fluid cookbooks">
  <div class="row">
    <div class="col col-lg-10">
      <h2><span class="gradient-text">Cookbooks</span></h2>
      <p>Cookbooks are ready-to-use reference pipelines for Mitta. <a href="/login?next=/cookbooks">Login/signup</a> to install the pipelines directly into your account.</p>
      <p>If you need assistance using or building a pipeline, be sure to pop into <a href="{{ brand.get('slack_url') }}">Slack</a>.</p>

      {% for cookbook in cookbooks %}
      <h3 class="header">{{ cookbook.header }}</h3>
      <p>{{ cookbook.description }}</p>

      <div class="row cookbook-cards">
        {% for card in cookbook.cookbook_cards %}
        <div class="card-col col-sm-3">
          <div class="card">
            <img class="card-img-top" src="{{ card.image.src }}" alt="{{ card.image.alt }}">
            <div class="card-body">
              <h4 class="card-title">{{ card.title }}</h4>
              <p>{{ card.description }}</p>
              <!-- Check if username is 'anonymous' and adjust button text and icon accordingly -->
              {% if username == 'anonymous' %}
              <a href="{{ card.links.install.href }}" class="btn btn-download btn-outline-dark"><i class="fas fa-download"></i> Download</a>
              {% else %}
              <a href="{{ card.links.install.href }}" class="btn btn-download btn-outline-dark"><i class="fas fa-wrench"></i> Install</a>
              {% endif %}
              <a href="{{ card.links.github.href }}" class="btn btn-outline-dark"><i class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% if cookbook.youtube_url %}
      <h4>Video</h4>
      <div style="max-width: 500px;">
        <iframe width="100%" height="315" src="{{ cookbook.youtube_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      {% endif %}

      {% if not loop.last %}
      <hr/>
      {% endif %}
      {% endfor %}

    </div>
  </div>
</div>

<!-- The modal for updating empty secure values -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabel">Enter Value</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="modalInput" id="modalInputLabel"></label>
        <input type="text" id="modalInput" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modalSave">Update</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
  var username = "{{username}}"; // Assuming username is passed to the template

  $('a.btn-download').on('click', function(e) {
    e.preventDefault();
    var href = $(this).attr('href');
    // Extract cookbookName and filename from the href
    var matches = href.match(/\/([^\/]+)\/([^\/]+)$/);

    if (matches && matches.length === 3) {
      var cookbookName = matches[1];
      var filename = matches[2];

      if (username !== 'anonymous') {
        var url = `/cookbooks/${cookbookName}/${filename}`;

        toastr.info("Installing pipeline...")
        // AJAX request to get and upload the JSON file
        $.get(url, function(data) {
          try {
            var json = typeof data === 'string' ? JSON.parse(data) : data;

            // AJAX request to upload the JSON
            $.ajax({
              url: '/pipeline/upload',
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify(json),
              success: function(response) {
                // Function to navigate to the pipeline page
                var navigateToPipeline = function() {
                  if (response.pipeline && response.pipeline.pipe_id) {
                    window.location.href = `/pipelines/${response.pipeline.pipe_id}`;
                  } else {
                    toastr.success("Pipeline uploaded!");
                  }
                };

                // Check for service_tokens_to_update and handle them
                if (response.service_tokens_to_update) {
                  // Assuming updateValuesWithModals accepts a callback
                  updateValuesWithModals(response.service_tokens_to_update, navigateToPipeline);
                } else {
                  // No tokens to update, navigate directly
                  navigateToPipeline();
                }
              },
              error: function(error) {
                toastr.error(error.responseJSON.error);
              }
            });
          } catch (e) {
            toastr.error("Failed to parse the downloaded JSON.");
            console.error("Error parsing JSON:", e);
          }
        }).fail(function() {
          toastr.error("Failed to download the pipeline JSON.");
        });
      } else {
        // For anonymous users, direct download
        var directDownloadUrl = `/cookbooks/${cookbookName}/${filename}`;
        var tempLink = document.createElement('a');
        tempLink.href = directDownloadUrl;
        tempLink.setAttribute('download', '');
        tempLink.style.display = 'none';
        document.body.appendChild(tempLink);
        tempLink.click();
        document.body.removeChild(tempLink);
      }
    }
  });

  // Function to open a modal for a specific input field
  function openModalForField(token) {
    var modal = $("#myModal");
    modal.modal("show");

    var inputType = "password";
    $("#modalInput").attr("type", inputType).val("");
    $("#modalInputLabel").html("<strong>"+token+"</strong>");
    modal.data("targetField", token);

    return new Promise(function(resolve) {
      // Remove any existing click handlers on modal save button
      $("#modalSave").off("click");

      // Add a new click handler for the modal save button
      $("#modalSave").on("click", function() {
        var enteredValue = $("#modalInput").val();
        resolve(enteredValue);
        modal.modal("hide"); // Close the modal
      });

      // Add a keydown event listener for the Enter/Return key
      $("#modalInput").on("keydown", function(event) {
        if (event.key === "Enter") {
          var enteredValue = $("#modalInput").val();
          resolve(enteredValue);
          modal.modal("hide"); // Close the modal
        }
      });

      modal.on("hidden.bs.modal", function() {
        // Resolve with null when the modal is closed without saving
        resolve(null);
      });
    });
  }
  
  function updateValuesWithModals(tokensToUpdate, callback) {
    var updatedValues = [];

    function handleToken(index) {
      if (index < tokensToUpdate.length) {
        return openModalForField(tokensToUpdate[index])
          .then(function(enteredValue) {
            console.log('entered value: ' + enteredValue);
            if (enteredValue !== null) {
              updatedValues.push({ name: tokensToUpdate[index], value: enteredValue });
              // Move to the next token only if a valid value is entered
              return handleToken(index + 1);
            } else {
              // Reopen the same modal if the entered value is null
              toastr.warning("You must provide a value for " + tokensToUpdate[index]);
              return handleToken(index); // Re-call handleToken with the same index to reopen the modal
            }
          });
      } else {
        return Promise.resolve();
      }
    }

    return handleToken(0)
      .then(function() {
        var promises = updatedValues.map(function(tokenData) {
          return new Promise(function(resolve, reject) {
            $.ajax({
              type: "POST",
              url: "/tokens",
              contentType: "application/json",
              data: JSON.stringify(tokenData),
              success: function(response) {
                toastr.success("Token added successfully for " + tokenData.name);
                resolve();
              },
              error: function(error) {
                if (error.responseJSON && error.responseJSON.error) {
                  toastr.error("Error adding token for " + tokenData.name + ": " + error.responseJSON.error);
                } else {
                  toastr.error("System error for " + tokenData.name + ": " + error.statusText);
                }
                reject();
              }
            });
          });
        });

        return Promise.all(promises);
      })
      .then(function() {
        if (typeof callback === "function") {
          callback(); // Call the callback function after all tokens are updated successfully
        }
      })
      .catch(function(error) {
        toastr.error("An error occurred with saving tokens.");
      });
  }


});
</script>
{% endblock %}