{% extends "pages/base.html" %}

{% block title %}
<title>Cookbooks</title>
<meta property='og:title' content='MittaAI cookbooks'/>
{% endblock %}

{% block content %}
<div id="#top" class="container container_api container_legal">
    <h1 class="header">Cookbooks</h1>
    <p class="lead">The cookbooks listed below offer ready-to-use reference pipelines for MittaAI. You can import them into your MittaAI account from the <a href="/pipelines">pipelines page</a> and then use or edit them to suit your use case.</p>
    
    <p class="lead">If you need assistance using or building a pipeline, be sure to pop into our <a href="https://discord.gg/SxwcVGQ8j9">Discord server</a>!</p>

    <h3 class="header">Getting Started Video</h3>
    <p class="lead">If you would like to get familar with using MittaAI, follow along with the getting started guide to build a simple pipeline to generate words, make a callback, and write the results into the database.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ntLqz38hC60?si=67DC_FEEnEwHNXhk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <hr id="pdf-indexing" style="padding-bottom: 40px;"/>
    <h2 class="header">PDF Indexing and Querying</h2>
    <p class="lead">PDF indexing is useful for building applications which use <a href="https://research.ibm.com/blog/retrieval-augmented-generation-RAG">RAG</a> (Retrieval Augmented Generation) for interactions with users. These two pipelines are used together to query documents to generate grounded responses to a user's input.</p>
    <div class="row" style="padding-bottom: 20px">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/static/images/indexing.png" alt="PDF Indexing" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title">PDF Indexing Pipeline</h5>
                <p class="card-text">Keyterm extraction and text embeddings are used to index a set of documents and make them ready for search. Uploads are limited in size to 25MB.</p>
                <a href="/cookbooks/rag/pipeline_index.json" class="btn btn-download btn-outline-dark"><i class="fas fa-download"></i> Download</a>
                <a href="https://github.com/MittaAI/mitta-community/tree/main/cookbooks/rag" class="btn btn-outline-dark"><i class="fab fa-github"></i></a>       
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/static/images/querying.png" alt="PDF Querying" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title">PDF Query Pipeline</h5>
                <p class="card-text">This pipeline embeds a user query and then conducts a search for matching fragments from the indexed documents. The results are used to form an answer.</p>
                <a href="/cookbooks/rag/pipeline_query.json" class="btn btn-download btn-outline-dark"><i class="fas fa-download"></i> Download</a>
                <a href="https://github.com/MittaAI/mitta-community/tree/main/cookbooks/rag" class="btn btn-outline-dark"><i class="fab fa-github"></i></a> 
              </div>
            </div>
        </div>
    </div>

    <h3 class="header">RAG Video Guide</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nlnFbU88sdg?si=HhHORSe4BcjXRH4z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <hr id="pirate-bot" style="padding-bottom: 40px;"/>
    <h2 class="header">Discord Pirate Bot</h2>
    <p class="lead">These two pipelines implement a bot that acts like a pirate, with limited memory. To use these pipelines with Discord, you will need download and run the <a href="https://github.com/MittaAI/mitta-community/tree/main/cookbooks/piratebot">bot code</a>.</p>
    <div class="row" style="padding-bottom: 20px">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/static/images/pirate.png" alt="PDF Indexing" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title">Pirate Bot</h5>
                <p class="card-text">Queries database for older memories, assembles a new prompt for ChatGPT-X, saves the user's query to memories, and runs a callback.</p>
                <a href="/cookbooks/piratebot/pipeline_bot.json" class="btn btn-download btn-outline-dark"><i class="fas fa-download"></i> Download</a>
                <a href="https://github.com/MittaAI/mitta-community/tree/main/cookbooks/piratebot" class="btn btn-outline-dark"><i class="fab fa-github"></i></a> 
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="/static/images/piratememories.png" alt="PDF Querying" style="width: 100%;">
              <div class="card-body">
                <h5 class="card-title">Pirate Bot Memories</h5>
                <p class="card-text">Uses uses a Jinja2 processor to transform the bot's response before storing it to the database for use in a subsequent query from Discord.</p>
                <a href="/cookbooks/piratebot/pipeline_memory.json" class="btn btn-download btn-outline-dark"><i class="fas fa-download"></i> Download</a>
                <a href="https://github.com/MittaAI/mitta-community/tree/main/cookbooks/piratebot" class="btn btn-outline-dark"><i class="fab fa-github"></i></a> 
              </div>
            </div>
        </div>
    </div>
    <h3 class="header">Discord Bot Video Guide</h3>
    <p class="lead">Video coming soon!</p>
</div>
<!-- end docs container -->

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).on('click', 'a.btn-download', function(e) {
    e.preventDefault();
    var url = $(this).attr('href');

    $('<iframe>', { style: 'display:none;', src: url }).appendTo('body');
});
</script>
{% endblock %}