{% extends "pages/base.html" %}

{% block title %}
<title>{{ brand.get('name') }}</title>
{% endblock %}

{% block description %}
<meta name="description" content="{{brand.get('name')}}" />
{% endblock %}

{% block content %}

<div class="container-fluid hero">
  <div class="row">
    <div class="col col-lg-12">
      <h1>Build <strong class="gradient-text">Strong AI</strong> Pipelines</h1>
      <p>Intelligent Document Transforms for Data Scientists, Developers, and Creators.</p>
      <a href="/pipelines" class="btn btn-outline-light btn-bottoms" type="button">{% if username != 'anonymous' %}Dashboard{% else %}Sign Up{% endif %}</a>
      <a href="https://github.com/MittaAI/SlothAI" class="btn btn-outline-light btn-bottoms" type="button"><i class="fab fa-github"></i> Code</a>
    </div>
  </div>  
</div>

<div class="container-fluid demos">
  <div class="row">
    <div class="col-lg-9">
      <h2><span class="gradient-text">Try A Pipeline</span></h2>
      <p>The following pipelines are free for use and do not require a login.</p>
    </div>
    <div class="col-lg-9">
      <h3>Transform an Image in Under 30 Seconds</h3>
      <p>This pipeline transforms any media file smaller than 32MB into another format with conversational language.</p>
      <img src="/images/ffmpeg_pipe_1.png"/>
      <div class="input-group mb-3">
        <input id="ffmpeg_instructions" type="text" class="form-control" value="Convert to a 640 wide black and white gif" aria-label="ffmpeg_instructions" aria-describedby="convert">
        <div class="input-group-append">
          <button class="btn btn-primary" id="convert">Convert</span>
        </div>
      </div>
      <button class="btn btn-outline-light" id="convertMedia"><i class="fab fa-github"></i> Repo</button>
      <button class="btn btn-outline-light" id="convertMediaDocker"><i class="fab fa-docker"></i> Docker</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <h3>Grab a New Hacker News Post About AI</h3>
      <p>Visits a recent post to Hacker News about AI. Provides page summary, screenshot, and links.</p>
      <img src="/images/hn_pipe_1.png"/>
      <div class="input-group mb-3">
        <input id="crawl_instructions" type="text" class="form-control" value="I want the latest stories about AI" placeholder="Take me to a new story about AI." aria-label="crawl_instructions" aria-describedby="news">
        <div class="input-group-append">
          <button class="btn btn-primary" id="crawl">News</span>
        </div>
      </div>
      <button class="btn btn-outline-light" id="newsMedia"><i class="fab fa-github"></i> Repo</button>
      <button class="btn btn-outline-light" id="newsMediaDocker"><i class="fab fa-docker"></i> Docker</button>
    </div>
  </div>
 
  <div class="row">
    <div class="col-lg-9">
      <h3>Generate a Pirate's Dream</h3>
      <p>Arr! We conjure in our mind pirate images bold and grand. Cross us, and ye face the cannon's roar!</p>
      <img src="/images/pirate_pipe_1.png"/>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Show me a pirate digging up treasure." value="Give me your gold" aria-label="instructions" aria-describedby="dream">
        <div class="input-group-append">
          <span class="btn btn-primary" id="dream">Dream</span>
        </div>
      </div>
      <button class="btn btn-outline-light" id="dreamMedia"><i class="fab fa-github"></i> Repo</button>
      <button class="btn btn-outline-light" id="dreamMediaDocker"><i class="fab fa-docker"></i> Docker</button>
    </div>
  </div>

  <!--
  <div class="row">
    <div class="col-lg-9">
      <h3>Ask Faraday About Electricity</h3>
      <p>Ask the discoverer of the electric motor a question about electricity, even though he's unfortunately dead.</p>
      <img src="/images/grub_pipe.png"/>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="What causes bismuth to turn in a magnetic field?" aria-label="instructions" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">Ask Michael</span>
        </div>
      </div>
      <button class="btn btn-outline-light">Index Documents</button>
    </div>
  </div>
  -->
</div>

<div class="container-fluid offering">
  <div class="row">
    <div class="col-lg-9">
      <h2 class="headings"><strong class="gradient-text">Transform</strong> AI Workflows</h2>
      <p>Mitta is an <a href="https://github.com/MittaAI/SlothAI">open-source framework</a>, created, written, and run as a SaaS service by one of the founders of <a href="https://loggly.com">Loggly</a>. Mitta revolutionizes the way AI applications are built and scaled, and it's designed for a smooth transition from rapid prototyping to production. Mitta supports a wide range of AI models and leverages <a href="https://jinja.palletsprojects.com/en/3.1.x/">Jinja2</a> templates to make it a snap to write complex prompts for pipelines in minutes.</p>

      <p>With Mitta, documents and data may be de-serialized and transformed by the system during processing using task queues and containers for scale and serverless speed. Mitta supports calls to <a href="https://platform.openai.com/docs/api-reference">OpenAI</a>, <a href="https://mistral.ai/">MistralAI</a>, <a href="https://deepmind.google/technologies/gemini/">Google Gemini</a>, <a href="https://api.together.xyz/">TogetherAI</a>, <a href="https://www.perplexity.ai/">Perplexity</a>, <a href="https://elevenlabs.io">ElevenLabs</a> speech models, Google's <a href="https://cloud.google.com/document-ai?hl=en">Document and Vision</a> APIs, and more.</p>

      <p>Don't waste your time with hard to use AI frameworks. <a href="/login">Get started</a> building with Mitta today!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9">
      <h3>Need assistance?</h3>
      <p>
        If you need support, or encounter any issues using the system, we encourage you to reach out by <a href="https://github.com/MittaAI/SlothAI/issues">opening a ticket</a> or joining the conversation on our <a href="{{brand.get('slack_url')}}">Slack</a>.
      </p>

      <p">Ready to learn how to build a simple pipeline to simulate a pirate's brain?</p>
      <div class="video video-responsive">
        <iframe width="530" height="315" src="https://www.youtube.com/embed/wglj1U-UUEs?si=_I1MIiAmOEQJkQCG" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
  // Function to open GitHub links
  function openGitHubLink(path) {
    window.open(`https://github.com/MittaAI/mitta-community/tree/main/cookbooks/${path}`, '_blank');
  }

  // Function to create and submit a form
  function submitForm(actionURL, inputName, inputValueSelector) {
    var inputValue = $(inputValueSelector).val();
    console.log(inputValue);

    var form = $('<form>', {
      'action': actionURL,
      'method': 'POST',
      'target': '_self'
    });

    var instructionsInput = $('<input>', {
      'type': 'hidden',
      'name': inputName,
      'value': inputValue
    });

    console.log(instructionsInput);
    form.append(instructionsInput);
    $('body').append(form);
    form.submit();
  }

  // Event handlers for GitHub links
  $('#convertMedia').click(() => openGitHubLink('conversion'));
  $('#convertMediaDocker').click(() => openGitHubLink('conversion/docker'));
  $('#newsMedia').click(() => openGitHubLink('hackerbot'));
  $('#newsMediaDocker').click(() => openGitHubLink('hackerbot/docker'));
  $('#dreamMedia').click(() => openGitHubLink('piratedreams'));
  $('#dreamMediaDocker').click(() => openGitHubLink('piratedreams/docker'));

  // Event handlers for form submissions
  $('#convert').click(() => submitForm('https://ai.mitta.ai/convert', 'instructions', '#ffmpeg_instructions'));
  $('#crawl').click(() => submitForm('https://news.mitta.ai/news', 'instructions', '#crawl_instructions'));
  $('#dream').click(() => submitForm('https://dream.mitta.ai/dream', 'instructions', '#ffmpeg_instructions'));
});
</script>
{% endblock %}
