{% extends "pages/base.html" %}

{% block title %}
<title>{{ brand.get('name') }}</title>
{% endblock %}

{% block description %}
<meta name="description" content="{{brand.get('name')}}" />
{% endblock %}

{% block content %}

<div class="container-fluid hero">
  <div class="row">
    <div class="col col-lg-12">
      <h1>Create <strong class="gradient-text">Innovative</strong> AI</h1>
      <p>Transform, analyze, and enrich all types of documents with low/no-code DAG pipelines built for AI.</p>
      <a href="/pipelines" class="btn btn-outline-light mr-2" type="button">{% if username != 'anonymous' %}Dashboard{% else %}Sign Up{% endif %}</a>
      <a href="https://github.com/MittaAI/SlothAI" class="btn btn-outline-light" type="button"><i class="fab fa-github"></i> Code</a>
    </div>
  </div>  
</div>

<div class="container-fluid demos">
  <div class="row">
    <div class="col-lg-9">
      <h2><span class="gradient-text">Try A Pipeline</span></h2>
      <p>Explore our free, no-login-required pipeline demos to discover the diverse applications you can create.</p>
    </div>
    <div class="col-lg-9">
      <h3>Transform an Image in Under 30 Seconds</h3>
      <p>This pipeline transforms any media file smaller than 32MB into another format with conversational language.</p>
      <img src="/images/ffmpeg_pipe_1.png"/>
      <div class="input-group mb-3">
        <input id="ffmpeg_instructions" type="text" class="form-control" value="Convert to a 640 wide black and white gif" aria-label="ffmpeg_instructions" aria-describedby="convert">
        <div class="input-group-append">
          <button class="btn btn-primary" id="convert">Convert</span>
        </div>
      </div>
      <button class="btn btn-outline-light" id="convertMedia"><i class="fab fa-github"></i> Repo</button>
      <button class="btn btn-outline-light ml-2" id="convertMediaDocker"><i class="fab fa-docker"></i> Docker</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <h3>Grab a New Hacker News Post About AI</h3>
      <p>Visits a recent post to Hacker News about AI. Provides page summary, screenshot, and links.</p>
      <img src="/images/hn_pipe_1.png"/>
      <div class="input-group mb-3">
        <input id="crawl_instructions" type="text" class="form-control" value="I want the latest stories about AI" placeholder="Take me to a new story about AI." aria-label="crawl_instructions" aria-describedby="news">
        <div class="input-group-append">
          <button class="btn btn-primary" id="crawl">News</span>
        </div>
      </div>
      <button class="btn btn-outline-light" id="newsMedia"><i class="fab fa-github"></i> Repo</button>
      <button class="btn btn-outline-light ml-2" id="newsMediaDocker"><i class="fab fa-docker"></i> Docker</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9">
      <h3>Generate a Pirate's Dream</h3>
      <p>We conjure in our mind pirate images bold and grand. Cross us, and ye face the cannon's roar!</p>
      <img src="/images/pirate_pipe_1.png"/>
      <div class="input-group mb-3">
        <input id="dream_instructions" type="text" class="form-control" placeholder="Show me a pirate digging up treasure." value="Blimy! There be gold coins in the sand." aria-label="dream_instructions" aria-describedby="dream">
        <div class="input-group-append">
          <span class="btn btn-primary" id="dream">Dream</span>
        </div>
      </div>
      <button class="btn btn-outline-light" id="dreamMedia"><i class="fab fa-github"></i> Repo</button>
      <button class="btn btn-outline-light ml-2" id="dreamMediaDocker"><i class="fab fa-docker"></i> Docker</button>
    </div>
  </div>

  <!--
  <div class="row">
    <div class="col-lg-9">
      <h3>Ask Faraday About Electricity</h3>
      <p>Ask the discoverer of the electric motor a question about electricity, even though he's unfortunately dead.</p>
      <img src="/images/grub_pipe.png"/>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="What causes bismuth to turn in a magnetic field?" aria-label="instructions" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">Ask Michael</span>
        </div>
      </div>
      <button class="btn btn-outline-light">Index Documents</button>
    </div>
  </div>
  -->
</div>

<div class="container-fluid offering">
  <div class="row">
    <div class="col-lg-9">
      <h2 class="headings"><strong class="gradient-text">Developers, Data Scientists, and Creators:</strong></h2>
      <p>Mitta is an <a href="https://github.com/MittaAI/SlothAI">open-source framework</a> created by one of the founders of <a href="https://loggly.com">Loggly</a>, operating as a SaaS. It simplifies the development and scaling of AI applications from prototyping to production.</p>

      <p>The platform supports a wide range of AI models and uses <a href="https://jinja.palletsprojects.com/en/3.1.x/">Jinja2</a> templates to quickly craft complex prompts for pipelines.</p>

      <p>Mitta processes documents and data with containerized, asynchronous task queues for scalability and serverless efficiency. It integrates with <a href="https://platform.openai.com/docs/api-reference">OpenAI</a>, <a href="https://mistral.ai/">MistralAI</a>, <a href="https://deepmind.google/technologies/gemini/">Google Gemini</a>, <a href="https://api.together.xyz/">TogetherAI</a>, <a href="https://www.perplexity.ai/">Perplexity</a>, <a href="https://elevenlabs.io">ElevenLabs</a> for speech models, and Google's <a href="https://cloud.google.com/document-ai?hl=en">Document and Vision</a> APIs.</p>

      <p>Mitta offers custom AI processors, including AI crawlers, AI file conversion utilities, and AI file readers. These tools allow efficient handling of tasks such as web crawling, reading PDFs, data extraction, and file transformations.</p>

      <p><a href="/login">Get started</a> with Mitta today!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9">
      <h3>Need assistance?</h3>
      <p>
        If you need support, or encounter any issues using the system, we encourage you to reach out by <a href="https://github.com/MittaAI/SlothAI/issues">opening a ticket</a> or joining the conversation on our <a href="{{brand.get('slack_url')}}">Slack</a>.
      </p>

      <p">Ready to learn how to build a simple pipeline to simulate a pirate's brain?</p>
      <div class="video video-responsive">
        <iframe width="530" height="315" src="https://www.youtube.com/embed/wglj1U-UUEs?si=_I1MIiAmOEQJkQCG" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
  // Function to open GitHub links
  function openGitHubLink(path) {
    window.open(`https://github.com/MittaAI/mitta-community/tree/main/cookbooks/${path}`, '_blank');
  }

  // Function to create and submit a form
  function submitForm(actionURL, inputName, inputValueSelector) {
    var inputValue = $(inputValueSelector).val();
    console.log(inputValue);

    var form = $('<form>', {
      'action': actionURL,
      'method': 'POST',
      'target': '_self'
    });

    var instructionsInput = $('<input>', {
      'type': 'hidden',
      'name': inputName,
      'value': inputValue
    });

    console.log(instructionsInput);
    form.append(instructionsInput);
    $('body').append(form);
    form.submit();
  }

  // Event handlers for GitHub links
  $('#convertMedia').click(() => openGitHubLink('conversion'));
  $('#convertMediaDocker').click(() => openGitHubLink('conversion/docker'));
  $('#newsMedia').click(() => openGitHubLink('hackerbot'));
  $('#newsMediaDocker').click(() => openGitHubLink('hackerbot/docker'));
  $('#dreamMedia').click(() => openGitHubLink('piratedreams'));
  $('#dreamMediaDocker').click(() => openGitHubLink('piratedreams/docker'));

  // Event handlers for form submissions
  $('#convert').click(() => submitForm('https://ai.mitta.ai/convert', 'instructions', '#ffmpeg_instructions'));
  $('#crawl').click(() => submitForm('https://news.mitta.ai/news', 'instructions', '#crawl_instructions'));
  $('#dream').click(() => submitForm('https://dreams.mitta.ai', 'instructions', '#dream_instructions'));
});
</script>
{% endblock %}
