{% extends "pages/app_base.html" %}

{% block title %}
<title>Logs | {{ brand.get('name') }}</title>
<meta property='og:title' content="Logs | {{ brand.get('name') }}"/>
{% endblock %}

{% block content %}
<div class="container-fluid dashboard">
  <div class="row">
    <div class="col col-lg-12">
      <h3>Callback Logs</h3>
      <hr/>
      <p>Use of the default callback will log the pipeline document here. Click the <strong>document date</strong> to <strong>copy</strong> the JSON data.</p>
      <p>Data and logs <strong>clear after 1 hour</strong> and are sorted in ascending order, newest logs at the bottom.</p>
      <button id="reload" type="button" class="reload-button btn btn-success">
        <i class="fas fa-sync-alt"></i> Reload
      </button>
      <button id="clearCompleted" type="button" class="btn btn-secondary">
        <i class="fas fa-ban"></i> Clear Logs
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12">
      <table class="table table-striped" id="logsTable">
        <thead style="display: none;">
          <tr>
            <th style="width: 150px;">Date</th>
            <th>Log</th>
          </tr>
        </thead>
        <tbody>
          <!-- Log entries will be dynamically inserted here -->
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<link href="https://cdn.jsdelivr.net/npm/jquery.json-viewer/json-viewer/jquery.json-viewer.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/jquery.json-viewer/json-viewer/jquery.json-viewer.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  // Define the function to be called when mutations are observed
  var callback = function(mutationsList, observer) {
    for(let mutation of mutationsList) {
      if (mutation.type === 'childList' || mutation.type === 'characterData') {
        // Log count changed, fetch and update logs
        fetchAndUpdateLogs();
      }
    }
  };

  // Create an observer instance linked to the callback function
  var observer = new MutationObserver(callback);

  // Start observing the target node for configured mutations
  var targetNode = document.getElementById('log_count');
  if (targetNode) {
    observer.observe(targetNode, {
      childList: true, // observe direct children
      characterData: true, // observe text content or node value
      subtree: true // observe all descendants
    });
  }


  function fetchAndUpdateLogs() {
    $.ajax({
      url: "/logs/all",
      type: "GET",
      success: function(logs) {
        var tbody = $("#logsTable tbody");

        if (logs.length > 0) {
          $("#logsTable thead").show();
        } else {
          $("#logsTable thead").hide();
        }

        // Keep track of log IDs already in the table
        var existingLogIds = tbody.find("tr").map(function() {
          return $(this).data("log_id");
        }).get();

        logs.forEach(function(log) {
          // Check if the log is already displayed
          if (!existingLogIds.includes(log.log_id)) {
            var logDate = `<td class="log-dates"><button class="badge badge-dark">${log.created}</button></td>`;
            var logDataCell = `<td></td>`;
            var row = `<tr data-log_id="${log.log_id}">${logDate}${logDataCell}</tr>`;

            tbody.append(row);

            var tdLog = tbody.find(`tr[data-log_id="${log.log_id}"] td:nth-child(2)`);
            var jsonViewer = $('<pre>').appendTo(tdLog);
            jsonViewer.jsonViewer(log.log_data, {collapsed: true, withQuotes: true});

            // Attach click event for new log entry
            tdLog.prev('.log-dates').find('button').off('click').on('click', function() {
              var logData = $(this).closest('tr').find('td:nth-child(2) pre').text();
              navigator.clipboard.writeText(logData).then(() => {
                toastr.info('Copied to clipboard.');
              }).catch(err => {
                console.error('Error in copying text: ', err);
              });
            });
          }
        });
      },
      error: function(xhr, status, error) {
        console.error("Error fetching logs: ", error);
      }
    });
  }


  $('#clearCompleted').off('click').on('click', function() {
    $.ajax({
      url: '/logs',
      type: 'DELETE',
      success: function(response) {
        toastr.success("Logs cleared.");
        window.location.reload();
      },
      error: function(xhr, status, error) {
        toastr.error("Error clearing logs.");
      }
    });
  });

});
</script>
{% endblock %}



