{% extends "pages/page_base.html" %}

{% block title %}
<title>{{node.name}} | Node | {{brand.get('name')}}</title>
<meta property='og:title' content="{{node.name}} | Pipeline | {{ brand.get('name') }} "/>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-4">
    <h2 class="page_heading">Node Details</h2>
    <div class="rounded-lg border p-3">
        <div class="row">
            <div class="col text-left">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="thenodeName" value="{% if node %}{{ node.name }}{% else %}not set{% endif %}">
                        <button style="margin-left: 8px;" id="{% if node %}renameButton{% else %}generateButton{% endif %}" class="btn btn-secondary">{% if node %}Rename{% else %}Generate Name{% endif %}</button>
                    </div>
                </form>
            </div>
            <div class="col text-right">
                <button class="btn btn-danger delete-button" data-node-id="{{node.node_id}}"><i class="fas fa-trash-alt"></i> Delete</button>
            </div>
        </div>
        <p></p>
        <h5>Node Template</h5>
        <p>The <strong>{{ node.name }}</strong> node uses the <strong>{{ template.name }}</strong> template with the <strong>{{ node.processor }}</strong> processor.</p>
        <a class="btn btn-secondary min-button" href="#"><i class="fas fa-cube"></i><br/>{{ node.name }}</a>
        <i class="fas fa-arrow-left"></i>
        <a class="btn btn-secondary min-button" href="/templates/{{ template.template_id }}"><i class="fas fa-file"></i><br/>{{ template.name }}</a>
        <p></p>
        <p>Click the <strong>{{ template.name }}</strong> template to edit this node's input and output fields.</p>
        <hr/>
        <div class="d-flex justify-content-between align-items-center">
            <h5>Pipelines</h5>
        </div>
        
        {% if pipelines %}
        <p>The 
            {% set ns = namespace(counter=0) %}
            {% for pipeline in pipelines %}{% set ns.counter = ns.counter + 1 %}{% if ns.counter == 1 %}<a href="/pipelines/{{ pipeline.pipe_id }}">{{ pipeline.name }}</a>{% elif ns.counter == pipelines|length %} and <a href="/pipelines/{{ pipeline.pipe_id }}">{{ pipeline.name }}</a>{% else %}, <a href="/pipelines/{{ pipeline.pipe_id }}">{{ pipeline.name }}</a>{% endif %}{% endfor %}
            pipelines(s) are using this node.
        </p>
        {% else %}
        <p>This node is not in use in any pipelines.</p>
        {% endif %}

        {% if filtered_pipelines %}
        <form id="pipelineForm" class="form-inline">
            <div class="form-group mb-2">
                <label for="pipelineSelect" class="sr-only">Select Pipeline</label>
                <select id="pipelineSelect" class="form-control">
                    {% for filtered_pipeline in filtered_pipelines %}
                        <option value="{{ filtered_pipeline.pipe_id }}">{{ filtered_pipeline.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="button" id="addToPipelineButton" class="btn btn-outline-dark mb-2 ml-2">
                <i class="fas fa-plus"></i> Add to Pipeline
            </button>
        </form>
        {% endif %}
        <form id="pipelineCreateForm" class="form-inline">
            <div class="form-group">
                <button type="button" id="createPipelineButton" class="btn btn-primary"data-toggle="modal" data-target="#pipelineName"><i class="fas fa-plus"></i> Add to New Pipeline</button>
            </div>
        </form>
        <hr/>
        <div class="d-flex justify-content-between align-items-center">
            <h5>Extras</h5>
        </div>
        <p>The following extras are defined for this node. Secure values are stored as service tokens and are managed from <a href="/settings">settings</a>.</p>
        <form id="updateExtrasForm" action="/nodes/{{ node.node_id }}/update" method="POST">
            <div id="extrasList" class="form-group">
                {% for key, value in node.extras.items() %}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label for="{{ key }}" class="input-group-text"><strong>{{ key }}</strong></label>
                        </div>
                        {% if key == "processor" %}
                        <select class="form-control" id="{{ key }}" name="{{ key }}">
                            {% for processor in processors %}
                            <option value="{{ processor.value }}" {% if value == processor.value %}selected{% endif %}>{{ processor.label }}</option>
                            {% endfor %}
                        </select>
                        {% elif "token" in key or "password" in key or "secret" in key %}
                        <input class="form-control" type="password" id="{{ key }}" name="{{ key }}" value="{{ value }}" readonly>
                        {% else %}
                        <input class="form-control" type="text" id="{{ key }}" name="{{ key }}" value="{{ value }}">
                        {% endif %}
                        <div class="input-group-append">
                            <button type="button" class="btn btn-danger remove-entry" data-extra_id="{{key}}" aria-label="Remove">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="btn btn-success" id="saveExtras" type="submit"><i class="fas fa-save"></i> Save Extras</button>
            <button type="button" class="btn btn-warning" id="openAddKeyModal"><i class="fas fa-plus"></i> Add Extra</button>
        </form>
    </div>
</div>

<!-- Modal for adding a new key -->
<div class="modal fade" id="addKeyModal" tabindex="-1" role="dialog" aria-labelledby="addKeyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addKeyModalLabel">Add a New Key</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="newKey">Enter a new key name:</label>
                        <input type="text" class="form-control" id="newKey" placeholder="Key Name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="addKeyButton"><i class="fas fa-plus"></i> Add Key</button>
            </div>
        </div>
    </div>
</div>

<!-- The modal for a new pipeline name -->
<div class="modal fade" id="pipelineName" tabindex="-1" role="dialog" aria-labelledby="pipelineNameLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Enter new pipeline name.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="pipelineModalInput" id="pipelineModalInputLabel"></label>
                <input type="text" id="pipelineModalInput" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="pipelineModalCreate">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- The modal for updating empty secure values -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Fill in Value</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="modalInput" id="modalInputLabel"></label>
                <input type="text" id="modalInput" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalSave">Update</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    // Function to change button colors
    function changeButtonColors() {
        const buttons = $("a.btn");
        buttons.each(function() {
            const name = $(this).text();
            var color = "";

            if (!name) {
                const altname = $(this).attr('title');
                if (altname) {
                    color = getColorFromName(altname);
                    $(this).css('background-color', color);
                    $(this).css('border-color', color);
                }
            } else {
                color = getColorFromName(name);
                $(this).css('background-color', color);
                $(this).css('border-color', color);
            }
        });
    }

    var originalNodeName = $("#thenodeName").val();
    var originalTemplateName = originalNodeName; // Assuming you intended to use this variable

    $("#renameButton").hide();

    // Event listener for changes in the nodeName field
    $("#thenodeName").on("input", function() {
        var currentNodeName = $("#thenodeName").val();
        nodeNameChanged = currentNodeName !== originalNodeName;

        if (nodeNameChanged) {
            $("#renameButton").show();
        } else {
            $("#renameButton").hide();
        }
    });

    // Run changeButtonColors function when the document is ready
    changeButtonColors();

    $(".delete-button").on("click", function(event) {
        $.ajax({
            url: '/nodes/{{node.node_id}}',
            type: 'DELETE',
            success: function (response) {
                toastr.success('Node deleted.');
            },
            error: function (error) {
                toastr.error(error.responseJSON.message);
            },
            complete: function () {
                window.location.href = '/nodes';
            }
        });
    });

    $("#renameButton").on("click", function(event) {
        event.preventDefault(); // Prevent the default form submission behavior
        var newName = $("#thenodeName").val();
        
        // Check if the node name has changed
        if (newName !== originalNodeName) {
            // Create a JSON object with the new node name
            var data = {
                "node": {
                    "name": newName
                }
            };

            // Send a POST request to update the node name
            $.ajax({
                url: '/nodes/{{node.node_id}}/rename', // Update with the correct URL
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    originalNodeName = newName; // Update the original node name
                    toastr.info(response.message);
                    $('#renameButton').hide();
                    window.location.reload();
                },
                error: function(error) {
                    // Handle error response here
                    toastr.error(error.responseJSON.error);
                }
            });
        }
    });

   // Handle the click event to open the modal
    $("#openAddKeyModal").click(function() {
        $("#addKeyModal").modal("show");
    });

    $("#addKeyButton").click(function() {
        // Get the new key name from the input field
        var newKeyName = $("#newKey").val();

        // Check if the new key name is not empty
        if (newKeyName.trim() !== "") {
            // Create a new list item with label, input, and trashcan button for the new key
            var newItem = `
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <label for="${newKeyName}" class="input-group-text"><strong>${newKeyName}</strong></label>
                    </div>
                    <input class="form-control" type="text" id="${newKeyName}" name="${newKeyName}" value="">
                    <div class="input-group-append">
                        <button data-extra_key="${newKeyName}" type="button" class="btn btn-danger remove-entry">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            `;

            // Append the new item to the form's extrasList
            $("#extrasList").append(newItem);

            // Clear the input field and close the modal
            $("#newKey").val("");
            $("#addKeyModal").modal("hide");
        } else {
            // Handle the case when the input is empty (you can show an error message)
            toastr.error("Please enter a valid key name.");
        }
    });

    // Handle the click event for the remove-entry buttons (for dynamically added entries)
    $("#extrasList").on("click", ".remove-entry", function() {
        $(this).closest(".input-group").remove();
    });

    $('#pipelineName').on('shown.bs.modal', function () {
        // Set focus on the input field when the modal is shown
        $('#pipelineModalInput').focus();
    });
    
    $("#pipelineModalInput").keypress(function (event) {
        if (event.which === 13) { // 13 is the key code for Enter
            event.preventDefault(); // Prevent the default behavior of Enter key (e.g., form submission)
            $("#pipelineModalCreate").click(); // Trigger the click event of the "Save" button
        }
    });

    $("#pipelineModalCreate").click(function () {
        
        var pipelineName = $("#pipelineModalInput").val(); // Get the name from the modal input
        var selectedNodes = ["{{node.node_id}}"];

        // Move this to a notice in the form
        if (!/^[a-z-_]+$/.test(pipelineName)) {
            toastr.error("Invalid pipeline name. Pipeline name should only contain lowercase letters, '-', and '_'.");
            $("#createPipelineButton").prop("disabled", false);
        } else {
            var pipelineData = {
                "name": pipelineName,
                "nodes": selectedNodes
            };

            $("#pipelineName").modal('hide');
            $("#createPipelineButton").prop("disabled", true);

            $.ajax({
                type: "POST",
                url: "/pipeline",
                data: JSON.stringify(pipelineData), // Send data as JSON
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    toastr.success("Created pipeline.");
                    window.location.href = "/pipelines/" + response.pipe_id;
                },
                error: function (error) {
                    $("#createPipelineButton").prop("disabled", false);
                    toastr.error(error.responseJSON.message);
                }
            });
        }
    });

    $("#updateExtrasForm").submit(function(event) {
        event.preventDefault(); // Prevent the default form submission

        // Create an object to hold the extras
        var extrasData = {};

        // Serialize the form data into a JSON object
        $(this).find('input, select').each(function() {
            var fieldName = $(this).attr('name');
            var fieldValue = $(this).val();

            extrasData[fieldName] = fieldValue;
        });

        // Send a POST request to update the extras
        $.ajax({
            url: '/nodes/{{ node.node_id }}/update_extras',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ "node": { "extras": extrasData } }), // Wrap the extras data in a "node" object
            success: function(response) {
                // Handle the success response
                toastr.info(response.message);
                window.location.reload();
            },
            error: function(error) {
                // Handle the error response
                toastr.error(error.responseJSON.error)
            }
        });
    });

    $('#addToPipelineButton').click(function() {
        var selectedPipeId = $('#pipelineSelect').val();

        $.ajax({
            type: "POST",
            url: '/pipeline/' + selectedPipeId + '/add_node',
            data: JSON.stringify({ "node_id": "{{ node.node_id }}" }),
            contentType: 'application/json',
            success: function(response) {
                // Handle the success response
                toastr.info(response.message);
                window.location.href = "/pipelines/" + selectedPipeId;
            },
            error: function(error) {
                // Handle the error response
                try {
                    toastr.error(error.responseJSON.error);
                } catch (error) {
                    toastr.error("An error occured.")
                }
            }
        });
    });

    function shouldOpenModal(value) {
        return value === "None" || value === "";
    }

    var needsUpdates = false;

    // Function to open a modal for a specific input field
    function openModalForField(field) {
        var fieldValue = field.val();
        var fieldName = field.attr("name");

        if (shouldOpenModal(fieldValue)) {
            needsUpdates = true;

            var modal = $("#myModal");
            modal.modal("show");

            // Get the key and value of the field that triggered the modal
            var key = fieldName;

            // Set the modal label based on the key
            $("#modalLabel").html("Update Extra Value");

            // Determine the input type based on the key
            var inputType = "text";
            if (key.toLowerCase().includes("password") || key.toLowerCase().includes("secret") || key.toLowerCase().includes("token")) {
                inputType = "password";
            }

            // Set the input type and value of the modal input
            $("#modalInput").attr("type", inputType).val("");
            $("#modalInputLabel").html("<strong>"+key+"</strong>");

            // Save the field element for later use
            modal.data("targetField", field);

            // Return a promise that resolves when the modal is closed
            return new Promise(function(resolve) {
                modal.on("hidden.bs.modal", function() {
                    resolve();
                });
            });
        }

        // If the modal is not opened, resolve immediately
        return Promise.resolve();
    }

    // Use a Promise chain to open modals one by one
    var inputFields = $("#updateExtrasForm input");
    var promiseChain = Promise.resolve();

    inputFields.each(function() {
        promiseChain = promiseChain.then(function() {
            return openModalForField($(this));
        }.bind(this));
    });

    promiseChain.then(function() {
        if (needsUpdates) {
            $("#saveExtras").trigger("click");
        }
    });

    // Handle modal save button click
    $("#modalSave").click(function() {
        var modalInputValue = $("#modalInput").val();
        var targetField = $("#myModal").data("targetField");

        // Update the original input field with the modal input value
        targetField.val(modalInputValue);

        // Close the modal
        $("#myModal").modal("hide");
    });
});
</script>
{% endblock %}