{% extends "pages/page_base.html" %}

{% block title %}
<title>Pipelines | FeatureBase AI</title>
<meta property='og:title' content="Pipelines | {{ brand.get('name') }}"/>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-4">
    <h2 class="page_heading">Pipelines</h2>

    {% if pipelines %}
    <div class="rounded-lg border p-3 table-responsive">
        <h4 class="mb-3">Your Pipelines</h4>
        <p>Pipelines process your data and are built from nodes. Data from the pipeline can be sent to a callback processor or written to a table.</p>
        <div class="text-left">
            <form id="uploadForm" method="post" enctype="multipart/form-data" style="display: inline;">
                <input id="fileInput" type="file" name="file" style="display: none;" />
                <button id="uploadPipeline" type="button" class="btn btn-info btn-upload" style="float: left;">
                    <i class="fas fa-upload"></i> Import
                </button>
                <input type="submit" value="Submit" hidden/>
            </form>
            <button id="createPipeline" type="button" class="btn btn-success" style="margin-left: 4px; float: left;">
                <i class="fas fa-plus"></i> Create Pipeline
            </button>
        </div>

        <table id="pipelineTable" class="stripe hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nodes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for pipeline in pipelines %}
                <tr id="tr_{{pipeline.pipe_id}}">
                    <td>
                        <button class="btn btn-secondary" onclick="location.href='/pipelines/{{ pipeline.pipe_id }}'"><i class="fas fa-code-branch"></i><br/>{{ pipeline.name }}</button>
                    </td>
                    <td>
                        <div class="btn-group">
                            {% for node_id in pipeline.node_ids %}
                                {% for node in nodes %}
                                    {% if node.node_id == node_id %}
                                        <button title="{{ node.processor }}" data-template_id="{{node.template_id}}" data-node_id="{{node_id}}" class="btn btn-secondary button-node btn-sortable"><i class="fas fa-{% for processor_info in processors if processor_info.value == node.processor %}{{processor_info.icon }}{% endfor %}"></i><br/>{{ node.name }}</button>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button data-toggle="tooltip" data-placement="top" title="Download {{ pipeline.name }}" class="download-button btn btn-primary btn-action" data-pipe_name="{{ pipeline.name }}" data-pipe_id="{{ pipeline.pipe_id }}"><i class="fas fa-download"></i></button>
                            <button class="delete-button btn btn-danger btn-action" data-pipe_id="{{ pipeline.pipe_id }}"><i class="fas fa-trash-alt"></i></button>
                            <div class="spinner-border spinner-border-sm text-danger" role="status" style="display: none; margin-left: 10px; margin-top: 9px;"><span class="sr-only"></span></div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}

    <div class="rounded-lg border p-3">
        <h4 class="mb-3">Create a Pipeline</h4>
        <p>Click on the <strong>Create Pipeline</strong> button to create a new Pipeline. Pipelines run documents through a list of node processors.</p>
        <p>You can also import a pipeline using <strong>Import Pipeline</strong> button. Pipelines can be downloaded from the <a href="/cookbooks">cookbooks page</a>.
        <div class="text-left">
            <form id="uploadForm" method="post" enctype="multipart/form-data" style="display: inline;">
                <input id="fileInput" type="file" name="file" style="display: none;" />
                <button id="uploadPipeline" type="button" class="btn btn-info" style="float: left;">
                    <i class="fas fa-upload"></i> Import
                </button>
                <input type="submit" value="Submit" hidden/>
            </form>
            <button id="createPipeline" type="button" class="btn btn-success" style="margin-left: 4px; float: left;">
                <i class="fas fa-plus"></i> Create Pipeline
            </button>
        </div>
        <br/>
        <br/>
        <p>Once you have a pipeline, you will send it data with a curl statement similar to this one:</p>
        <div class="code-block">curl -X POST \
    -H "Content-Type: application/json" \
    -d '{"text": ["There was a sudden knock at the door, then silence."]}' \
    {{ brand.get('service_url') }}ingest/&lt;endpoint_id&gt;?token=&lt;token&gt;</div>
        <p></p>
        <p>The fields in the data you send to a pipeline will depend on the inputs defined in its nodes.</p>
        <hr/>
        <h4 class="mb-3">Video Guide</h4>
        <p>Get started by following along and building your first pipeline.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ntLqz38hC60?si=67DC_FEEnEwHNXhk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    {% endif %}
</div>

<div class="modal fade" id="nodeFormModal" tabindex="-1" role="dialog" aria-labelledby="nodeFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title card-callout" id="nodeFormModalLabel">Create Pipeline</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- New node selection section -->
                <div class="form-group">
                    <label for="pipelineName">Pipeline Name</label>
                    <input type="text" class="form-control" id="pipelineName" placeholder="Pipeline name">
                </div>

                <div class="form-group">
                    <label for="selectedNode">Add Node</label>
                    <div class="input-group">
                        <select class="form-control" id="selectedNode">
                            <optgroup id="nodePulldown" label="Available Nodes">
                                {% for node in nodes %}
                                    <option value="{{ node.node_id }}">{{ node.processor }} ← {{ node.name }} ← {{ node.template_name }} </option>
                                {% endfor %}
                            </optgroup>
                        </select>
                        <div class="input-group-append">
                            <button id="addNodeToList" class="btn btn-dark"><i class="fas fa-plus"></i> Add</button>
                        </div>
                    </div>
                </div>

                <!-- Node list section -->
                <div style="margin-top: 20px" class="form-group">
                    <div class="rounded-lg border p-3" id="selectedNodesContainer" style="display: none;">
                        <!-- Content inside the container -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="createButton"><i class="fas fa-plus"></i> Create</button>
            </div>
        </div>
    </div>
</div>

<!-- The modal for updating empty secure values -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Fill in Value</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="modalInput" id="modalInputLabel"></label>
                <input type="text" id="modalInput" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalSave">Update</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function () {
    // grab the nodes from the template and make them available via getNodeInfo
    var nodes = JSON.parse('{{nodes | tojson}}');

    function getNodeInfo(nodeId) {
        const node = nodes.find(node => node.node_id === nodeId);

        if (node) {
            const { name, template_name, processor, input_fields, output_fields, extras } = node;
            return { name, template_name, processor, input_fields, output_fields, extras };
        } else {
            return null;
        }
    }
    
    var pipelines = JSON.parse('{{pipelines | tojson}}');

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    const buttons = document.querySelectorAll("#pipelineTable .btn");
    buttons.forEach(button => {
        const name = button.innerText;
        if (name == "") {
            return
        }
        const color = getColorFromName(name);
        button.style.backgroundColor = color;
        button.style.borderColor = color;
    });

    $('button').on('mouseleave', function () {
        const that = this;
        // Delay hiding the popover to allow time for the mouse to enter the popover
        setTimeout(function () {
            if (!$('.popover:hover').length) {
                $(that).popover('hide'); // Hide the popover if the mouse is not over it
                $(that).blur(); // Remove focus from the button
            }
        }, 100);
    });

    // create buttons in the list
    function createButton(name, title, content, extras=false) {
        const container = $('<div>');
        if (extras && Object.keys(content).length) {
            for (const key in content) {
                if (content.hasOwnProperty(key)) {
                    const value = content[key];
                    const badge = $('<span>', {
                        class: 'badge badge-secondary',
                        text: `${key}:${value}`,
                    });
                    container.append(badge);
                    container.append('<br>');
                }
            }
        } else if (content && content.length > 0) {
            content.forEach(entry => {
                const badge = $('<span>', {
                    class: 'badge badge-primary',
                    text: `${entry.name}:${entry.type}`,
                    type: entry.type
                });
                container.append(badge);
                container.append('<br>');
            });
        } else {
            const badge = $('<span>', {
                class: 'badge badge-success',
                text: `passthrough`
            });
            container.append(badge);
        }
        const button = $('<a>', {
            tabindex: 0,
            role: 'button',
            class: 'btn btn-secondary',
            title: title,
            'data-toggle': 'popover',
            'data-trigger': 'focus',
            'data-html': true,
            'data-placement': 'right',
            'data-content': container.html(),
        });
        button.css('background-color', getColorFromName(name));
        button.html(name);
        button.popover({trigger: 'focus'});
        return button;
    }

    // Listen for the click event on the download button
    $('.download-button').on('click', function() {
        $('.download-button').prop('disabled', true);
        toastr.info("Download request sent. Standby...");

        // Get the pipe_id from the data attribute
        var pipe_id = $(this).data('pipe_id');
        var name = $(this).data('name')

        // Construct the URL for the download endpoint (replace with your actual endpoint URL)
        var downloadURL = '/pipelines/' + pipe_id + '/download';

        // Create a hidden anchor element to trigger the download
        var link = document.createElement('a');
        link.href = downloadURL;
        link.target = '_blank'; // Open in a new tab
        link.download = 'pipeline_' + name + '.json'; // Set the filename

        // Trigger a click event on the hidden anchor element
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        setTimeout(function() {
            $('.download-button').prop('disabled', false);
        }, 10000);
    });

    var node_buttons = $('button[data-node_id]');
    
    // Loop through the buttons
    node_buttons.each(function() {
        var nodeButton = $(this);
        var nodeID = nodeButton.data('node_id');
        var nodeTemplateID = nodeButton.data('template_id')
        var nodeInfo = getNodeInfo(nodeID);

        var container = $('<div>');

        if (nodeInfo) {
            var inputFields = nodeInfo.input_fields || [];
            var outputFields = nodeInfo.output_fields || [];

            // Process inputs (green)
            inputFields.forEach(function(field) {
                var badgeText = "input: " + field.name;
                var badge = $('<span>', {
                    class: 'badge badge-success',
                    text: badgeText,
                });

                container.append(badge);
                container.append('<br>');
            });

            // Process outputs (blue)
            outputFields.forEach(function(field) {
                var badgeText = 'output: ' + field.name;
                var badge = $('<span>', {
                    class: 'badge badge-primary',
                    text: badgeText,
                });

                container.append(badge);
                container.append('<br>');
            });

            if (outputFields.length === 0 && inputFields.length === 0) {
                var badge = $('<span>', {
                    class: 'badge badge-success',
                    text: 'passthrough',
                });
                container.append(badge);
                container.append('<br>');
            }
        }
        container.append($('<a href="/templates/'+nodeTemplateID+'">edit template</a><br/>'));
        container.append($('<a href="/nodes/'+nodeID+'">edit node</a>'));
        nodeButton.popover({
            content: container.html(),
            trigger: 'focus',
            html: true,
            placement: 'right',
        });
    });

    // adding nodes to a new pipeline
    var selectedNodes = [];
    $('#addNodeToList').click(function () {
        const selectedNode = $('#selectedNode').find(':selected').attr('value');

        // add the node if it's not None
        if (selectedNode == "None" || !selectedNode) {
            toastr.error("Select a valid node to add to the pipeline.");
            return;
        }

        const selectedProcessor = getNodeInfo(selectedNode).processor;
        
        // If the selected processor is not a Callback Processor, check for duplicates
        if (selectedProcessor !== "callback" && selectedNodes.includes(selectedNode)) {
            toastr.error("Node is already in the pipeline.");
            return;
        }

        selectedNodes.push(selectedNode);

        const buttonGroup = $('<div></div>', {
            class: 'btn-group btn-group-toggle',
            'data-toggle': 'buttons',
        });

        const listItem = $('<div></div>', {
            class: 'selected-node',
        });

        const deleteButton = $('<a></a>', {
            tabindex: 0,
            role: 'button',
            class: `btn btn-danger rounded-right`,
            title: 'Delete Node',
            click: function () {
                const indexToRemove = selectedNodes.indexOf(selectedNode);
                if (indexToRemove !== -1) {
                    selectedNodes.splice(indexToRemove, 1);
                }

                listItem.remove();

                // hide or show the container based on the selectedNodes array
                if (selectedNodes.length === 0) {
                    $('#selectedNodesContainer').hide();
                } else {
                    $('#selectedNodesContainer').show();
                }
            }
        });
        deleteButton.append($('<i class="fas fa-trash-alt"></i>'));

        buttonGroup.append(createButton(getNodeInfo(selectedNode).name, "Node Input", getNodeInfo(selectedNode).input_fields));
        buttonGroup.append(createButton(getNodeInfo(selectedNode).processor, "Processor Output", getNodeInfo(selectedNode).output_fields));
        buttonGroup.append(createButton(getNodeInfo(selectedNode).template_name, "Template", getNodeInfo(selectedNode).extras, true));

        buttonGroup.on('mouseleave', function() {
            buttonGroup.find('[data-toggle="popover"]').popover('hide');
            buttonGroup.find('[data-toggle="popover"]').blur(); // Remove focus from the button
        });
        buttonGroup.append(deleteButton);

        // append to the existing list
        listItem.append(buttonGroup);
        $("#selectedNodesContainer").append(listItem);
        $('#selectedNodesContainer').show();
    });

    $("#createPipeline").on("click", function() {
        if ($("#nodePulldown").find('option').length > 0) {
            $("#nodeFormModal").modal("show");
            $("#selectedNodesContainer").hide();
            $("#selectedNodesContainer").empty();
            selectedNodes = [];
        } else {
            toastr.error("No nodes. Add a node first before adding a pipeline.");
        }
    });

    // Attach a click event handler to the delete buttons
    $(".delete-button").on("click", function () {
        var pipe_id = $(this).data("pipe_id");
        var $this = $(this);
        var spinner = $this.siblings(".spinner-border");
        
        $this.hide();
        spinner.show();

        // Send an AJAX request to delete the pipeline with the DELETE method
        $.ajax({
            url: '/pipeline/' + pipe_id,
            type: 'DELETE',
            success: function (response) {
                toastr.success('Pipeline deleted.');
                table.row($('#tr_'+pipe_id)).remove().draw();
            },
            error: function (error) {
                toastr.error(error.responseJSON.error);
            },
            complete: function() {
                $this.show();
                spinner.hide();
                if (table.row().count() === 0) {
                    window.location.href = '/pipelines';
                }
            }.bind(this)
        });
    });

    $("#createButton").click(function () {
        $("#createPipeline").prop("disabled", true);
        $("#createButton").prop("disabled", true);
        pipelineData = {"name": $("#pipelineName").val(), "nodes": selectedNodes};

        // Move this to a notice in the form
        if (!/^[a-z-_]+$/.test(pipelineData.name)) {
            toastr.error("Invalid pipeline name. Pipeline name should only contain lowercase letters, '-', and '_'.");
            $("#createPipeline").prop("disabled", false);
            $("#createButton").prop("disabled", false);
        } else {
            $.ajax({
                type: "POST",
                url: "/pipeline",
                data: JSON.stringify(pipelineData), // Send data as JSON
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    toastr.success("Created pipeline.");
                    window.location.href = "/pipelines/" + response.pipe_id;
                },
                error: function (error) {
                    $("#createPipeline").prop("disabled", false);
                    $("#createButton").prop("disabled", false);
                    toastr.error(error.responseJSON.message);
                }
            });
        }
    });

    $('#uploadPipeline').on('click', function() {
        // Trigger the file input click event
        $('#fileInput').click();
    });

    // Function to open a modal for a specific input field
    function openModalForField(token) {
        var modal = $("#myModal");
        modal.modal("show");
        $("#modalLabel").html("Update Extra Value");
        var inputType = "password";
        $("#modalInput").attr("type", inputType).val("");
        $("#modalInputLabel").html("<strong>"+token+"</strong>");
        modal.data("targetField", token);

        return new Promise(function(resolve) {
            // Remove any existing click handlers on modal save button
            $("#modalSave").off("click");

            // Add a new click handler for the modal save button
            $("#modalSave").on("click", function() {
                var enteredValue = $("#modalInput").val();
                resolve(enteredValue);
                modal.modal("hide"); // Close the modal
            });

            // Add a keydown event listener for the Enter/Return key
            $("#modalInput").on("keydown", function(event) {
                if (event.key === "Enter") {
                    var enteredValue = $("#modalInput").val();
                    resolve(enteredValue);
                    modal.modal("hide"); // Close the modal
                }
            });

            modal.on("hidden.bs.modal", function() {
                // Resolve with null when the modal is closed without saving
                resolve(null);
            });
        });
    }
    
    function updateValuesWithModals(tokensToUpdate) {
        var updatedValues = [];

        function handleToken(index) {
            if (index < tokensToUpdate.length) {
                return openModalForField(tokensToUpdate[index])
                    .then(function(enteredValue) {
                        if (enteredValue !== null) {
                            updatedValues.push({ name: tokensToUpdate[index], value: enteredValue });
                        }
                        return handleToken(index + 1);
                    });
            } else {
                return Promise.resolve();
            }
        }

        return handleToken(0)
            .then(function() {
                var promises = updatedValues.map(function(tokenData) { // Using map to transform updatedValues into promises
                    return new Promise(function(resolve, reject) { // Ensure resolve and reject are properly declared
                        $.ajax({
                            type: "POST",
                            url: "/tokens",
                            contentType: "application/json",
                            data: JSON.stringify(tokenData),
                            success: function(response) {
                                toastr.success("Token added successfully for " + tokenData.name);
                                resolve(); // Resolve the promise on success
                            },
                            error: function(error) {
                                if (error.responseJSON && error.responseJSON.error) {
                                    toastr.error("Error adding token for " + tokenData.name + ": " + error.responseJSON.error);
                                } else {
                                    toastr.error("System error for " + tokenData.name + ": " + error.statusText);
                                }
                                reject(); // Reject the promise on error
                            }
                        });
                    });
                });

                return Promise.all(promises); // Wait for all promises to resolve
            })
            .then(function() {
                window.location.reload(); // Reload after all AJAX requests complete
            })
            .catch(function(error) {
                // Handle the error
                toastr.error("An error occurred with saving tokens.");
            });
    }



    $('#fileInput').on('change', function() {
        var file = this.files[0];

        if (file) {
            // Read the file as text
            var reader = new FileReader();
            reader.onload = function(event) {
                try {
                    // Try to parse the file content as JSON
                    var json = JSON.parse(event.target.result);

                    $.ajax({
                        url: '/pipeline/upload',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(json), // Send the JSON content
                        success: function(data) {
                            if (data.service_tokens_to_update) {
                                updateValuesWithModals(data.service_tokens_to_update);
                            }
                            toastr.success("Pipeline uploaded!");
                        },
                        error: function(error) {
                            toastr.error(error.responseJSON.error);
                        }
                    });
                } catch (e) {
                    // Handle JSON parsing error
                    console.error("File content is not valid JSON:", e);
                }
            };
            reader.readAsText(file); // Read the file content
        }
    });

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

    // sort table
    var table = {}
    function sortTable() {
        table = $('#pipelineTable').DataTable({
            "columnDefs": [{ "orderable": false, "targets": [2] }],
            "order": [[0, "asc"]]
        });
        if (getUrlParameter('q')) {
            table.search(getUrlParameter('q')).draw();
        }
    }
    $("th").css("border-bottom-color","white");
    sortTable();
});
</script>
{% endblock %}