{% extends "pages/base.html" %}

{% block title %}
<title>Pricing</title>
<meta property='og:title' content='Mitta Pricing'/>
{% endblock %}

{% block content %}
<div id="#top" class="container-fluid pricing">
  <div class="row">
    <div class="col col-lg-10">
      <h2>Pricing</h2>
      <p>Mitta is a serverless, AI document pipeline system designed to be crazy fast. ❤️ it, or your money back.</p>
      
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h2>Bas</h2>
          </div>
          <div class="card-body">
            <h3 class="card-title gradient-text">$29/MO</h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Stock AI Processors</li>
              <li>5 Pipelines</li>
              <li>Free Embeddings</li>
              <li>Basic Vector Storage</li>
              <li>Foundation Models</li>
              <li>2 Day File Storage</li>
              <li>Slack Support</li>
            </ul>
            <a href="/login" id="login" type="button" class="btn btn-link">Get It Free</a>
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h2><span class="greater-than">&gt;</span> Dev</h2>
          </div>
          <div class="card-body">
            <h3 class="card-title gradient-text">$159/mo</h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Custom AI Processors</li>
              <li>Unlimited Pipelines</li>
              <li>Free Embeddings</li>
              <li>Remote Vector Storage</li>
              <li>Foundation Models</li>
              <li>3 Month File Storage</li>
              <li>Email Support</li>
            </ul>
            <button id="upgrade" type="button" class="btn btn-dark">Upgrade Coming Soon</button>
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h2>Pro</h2>
          </div>
          <div class="card-body">
            <h3 class="card-title gradient-text">$795+/mo</h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li>On-Premise AI Processing</li>
              <li>Unlimited Pipelines</li>
              <li>Custom Embeddings</li>
              <li>Unlimited Vector Storage</li>
              <li>Custom Models</li>
              <li>Your Storage</li>
              <li>Priority Email Support</li>
            </ul>
            <button id="money" type="button" class="btn btn-secondary">Contact Us</button>
          </div>
        </div>
      </div>

      <p>Mitta is currently in open beta. Please see Mitta's <a href="/legal">terms of use</a> for more information.</p>

    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
  $(document).ready(function() {
    $('#money').click(function() {
      window.location.href = '/pro';
    });
  });
});
</script>
{% endblock %}