{% extends "pages/auth_base.html" %}

{% block title %}
<title>Contact</title>
{% endblock %}

{% block content %}
<div class="container-fluid auth">
  <div class="row">
    <div class="col-lg-12">
      <h1><span class="greater-than">&gt;</span> PRO</h1>
      <p>Please fill out this form and we will be in contact with you shortly.</p>
      <form autocomplete="off" id="form" action="/pro" method="post">
        <div class="form-group">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" value="{{email}}" aria-label="Email Address">
        </div>
        <div class="form-group">
          <label for="name" class="form-label">Contact Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Contact Name" value="{{name}}" aria-label="Contact Name">
        </div>
        <div class="form-group">
          <label for="company" class="form-label">Company Name</label>
          <input type="text" class="form-control" id="company" name="company" placeholder="Company Name" value="{{company}}" aria-label="Company Name">
        </div>
        <div class="form-group">
          <label for="phone" class="form-label">Phone Number</label>
          <input type="phone" class="form-control" id="phone" name="phone" placeholder="Phone Number" value="{{phone}}" aria-label="Phone Number">
        </div>
        <div class="form-group">
          <label for="why" class="form-label">Describe an AI work flow you are considering</label>
          <textarea class="form-control" id="why" name="why" aria-label="Description">{{why}}</textarea>
        </div>

        <small class="form-text text-muted">
          {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
          {% endfor %}
        </small>
        <button type="submit" class="btn btn-primary" title="Submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {

});
</script>
{% endblock %}