{% extends "pages/page_base.html" %}

{% block title %}
<title>{% if template.name %}{{template.name}}{% else %}New{% endif %} | Templates | {{brand.get('name')}}</title>
<meta property="og:title' content='{{template.name}} | Templates | {{brand.get('name')}}"/>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="content container mt-5 pt-4">    
    <h2 class="page_heading">{% if template %}Edit Template{% else %}New Template{% endif %}</h2>
    <div class="instructions">
        <p>You are {% if template %}editing a{% else %}creating a new{% endif %} template. Use upload and download to manage your template versions.</p>
    </div>
    <div class="row">
        <div class="col text-left">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="templateName" value="{% if template %}{{ template.name }}{% else %}{{name_random}}{% endif %}">
                </div>

                <button id="{% if template %}renameButton{% else %}generateButton{% endif %}" class="btn btn-secondary">{% if template %}Rename{% else %}Generate Name{% endif %}</button>
            </form>
        </div>
        <div class="col text-right">
            <a id="saveButton" href class="btn btn-success"><i class="fas fa-save"></i> Save</a>
        </div>
    </div>
    <p></p>
    <div class="p-3">
        <div class="row">
            <div class="text-left">
                <button id="goBack" class="btn btn-danger btn-bottoms"><i class="fas fa-arrow-left"></i> Back</button>
                <div class="dropdown d-inline">
                    <button class="btn btn-warning dropdown-toggle btn-bottoms" type="button" id="generateTemplateDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cogs"></i> Choose Template
                    </button>
                    <div class="dropdown-menu btn-bottoms" aria-labelledby="generateTemplateDropdown">
                        {% for item in template_examples %}
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#generativeTemplateModal" data-template-name="{{ item.template_name }}" data-processor-type="{{ item.processor_type }}">{{ item.name }}</a>
                            {% if not loop.last and item.processor_type != template_examples[loop.index].processor_type %}
                                <div class="dropdown-divider"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <a id="downloadButton" href class="btn btn-info btn-bottoms" download="template.txt"><i class="fas fa-download"></i> Download</a>
                <input type="file" id="fileInput" style="display: none;" accept=".txt">
                <button id="loadButton" class="btn btn-primary btn-bottoms"><i class="fas fa-upload"></i> Upload</button>
                <button id="createNode" class="btn btn-outline-dark btn-bottoms"><i class="fas fa-plus"></i> Create Node</button>
            </div>
        </div>
    </div>

    <div class="form-group mt-3">
        <div id="editor" class="form-control" id="templateText" rows="4">{% if template %}{{ template.text }}{% else %}{{empty_template}}{% endif %}</div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.31.1/ace.js" integrity="sha512-a9+UssxQ7SRBDf5iwiGlGP1WezkIpdqKKIO37B3ellyQRjdrpj+NuDWme/nJQXkALyVpahGXRpJX7mLTvctyoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
$(document).ready(function() {
    ace.require("ace/ext/language_tools");
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/textmate");
    editor.getSession().setMode("ace/mode/python");
    editor.setHighlightActiveLine(false)
    editor.resize()
    editor.setOptions({
        autoScrollEditorIntoView: true,
        copyWithEmptySelection: true
    });
    editor.setShowPrintMargin(false);
    editor.getSession().setUseWrapMode(true);

    editor.getSession().on('change', function() { 
        $('#createNode').prop('disabled', true);
    });

    {% if template %}$('#renameButton').hide();{% endif %}

    {% if not has_templates %}
    $.get('/static/templates/get_started_callback.txt', function(response) {
        editor.setValue(response);
        toastr.success('Loaded getting started template.');
    });
    {% endif %}

    toastr.options = {
      "positionClass": "toast-bottom-right",
    }

    {% for message in get_flashed_messages() %}
        toastr.info("{{ message }}");
    {% endfor %}

    var originalTemplateName = $("#templateName").val();
    var originalTemplateText = editor.getValue();
    var templateNameChanged = false;
    
    const currentURL = window.location.href;

    // Check if the current URL ends with "/new"
    if (currentURL.endsWith('/new')) {
        $('#createNode').prop('disabled', true);
    }

    {% if template %}
    var selectedProcessorType = "{{ template.processor }}";
    {% else %}
    var selectedProcessorType = "jinja2";
    {% endif %}
    
    $("#renameButton").on("click", function() {
        event.preventDefault();
        var newName = $("#templateName").val();
        
        // Check if the template name has changed
        if (newName !== originalTemplateName) {
            // Create a JSON object with the new template name
            var data = {
                "template": {
                    "name": newName,
                    "text": originalTemplateText
                }
            };

            // Send a POST request to update the template name
            $.ajax({
                url: '/templates{% if template %}/{{template.template_id}}{% endif %}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    originalTemplateName = newName;
                    toastr.info("Template renamed.");
                    $('#renameButton').hide();
                },
                error: function(error) {
                    console.error('Error updating template name.');
                }
            });
        }
    });

    var toastrWarningCount = 0;
    var maxToastrWarnings = Math.floor(Math.random() * (10 - 3 + 1)) + 3;
        
    $("#saveButton").on("click", function(event) {
        event.preventDefault();
        var selectedTemplate = $("#generateTemplateDropdown .dropdown-item.active");
        var newTemplateText = editor.getValue();

        const currentURL = window.location.href;
        
        if (newTemplateText !== originalTemplateText || currentURL.endsWith('/new')) {

            var data = {
                "template": {
                    "name": $("#templateName").val(),
                    "text": newTemplateText,
                    "processor": selectedProcessorType
                }
            };
            $.ajax({
                url: 'http{% if "localhost" not in hostname %}s{% endif %}://{{hostname}}/templates/{% if template %}{{template.template_id}}{% else %}create{% endif %}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    toastr.info("Template saved.");
                    if (window.location.pathname === '/templates/new') {
                        window.location.href = '/templates?q=' + response.name;
                    } else {
                        $('#createNode').prop('disabled', false);
                    }
                },
                error: function(error) {
                    if (error.responseJSON && error.responseJSON.message) {
                        toastr.error(error.responseJSON.message);
                    } else {
                        toastr.error(error.statusText);
                    }
                }
            });

        } else {
            toastrWarningCount++;

            if (toastrWarningCount < maxToastrWarnings) {
                toastr.warning("Edit the template before saving it.");
            }
        }
    
    });

    $(document).on("keydown", function (event) {
        if ((event.ctrlKey || event.metaKey) && event.key === 's') {
            event.preventDefault(); // Prevent the default browser save action
            $("#saveButton").click(); // Simulate a click on the "Save" button
        }
    });

    $('#goBack').on('click', function() {
        // Get the current URL
        const currentURL = window.location.href;

        // Check if the current URL ends with "/new"
        if (currentURL.endsWith('/new')) {
            // Navigate to "/templates"
            window.location.href = "/templates";
        } else {
            // Get the previous URL from the browser's history
            const previousURL = document.referrer;

            // Check if there is a previous URL
            if (previousURL) {
                // Navigate to the previous URL
                window.location.href = previousURL;
            } else {
                // If there is no previous URL, you can handle it as needed
                window.location.href = "/templates";
            }
        }
    });

    // Attach a click event handler to the "Generate Name" button
    $("#generateButton").on("click", function() {
        event.preventDefault();
        $.ajax({
            url: '/templates/generate_name',
            type: 'GET',
            success: function(response) {
                // Update the template name field with the generated name
                $("#templateName").val(response.name);
            },
            error: function(error) {
                if (error.responseJSON && error.responseJSON.message) {
                    toastr.error(error.responseJSON.message);
                } else {
                    toastr.error(error.statusText);
                }
            }
        });
    });

    $("#downloadButton").on("click", function() {
        var templateText = editor.getValue();
        var templateName = $("#templateName").val();
        var blob = new Blob([templateText], { type: "text/plain" });
        var url = window.URL.createObjectURL(blob);

        $("#downloadButton").attr("href", url);
        $("#downloadButton").attr("download", templateName + ".txt");
    });

    // Event listener for changes in the templateName field
    $("#templateName").on("input", function() {
        var currentTemplateName = $("#templateName").val();
        templateNameChanged = currentTemplateName !== originalTemplateName;

        if (templateNameChanged) {
            $("#renameButton").show();
        } else {
            $("#renameButton").hide();
        }
    });

    // Event listener to prevent spaces in templateName
    $("#templateName").on("keydown", function(e) {
        if (e.keyCode === 32) {
            e.preventDefault();
        }
    });

    // Trigger the file input when the "Load" button is clicked
    $('#loadButton').click(function() {
        $('#fileInput').click();
    });

    // Handle file input change event
    $('#fileInput').change(function() {
        const fileInput = this;
        if (fileInput.files.length > 0) {
            const file = fileInput.files[0];
            const reader = new FileReader();
            reader.onload = function(event) {
                const fileContent = event.target.result;
                editor.setValue(fileContent);
                toastr.info('Loaded file.');
            };
            reader.readAsText(file);
        }
    });
    
    // Handle the template selection from the dropdown
    $(".dropdown-item").on("click", function() {
        selectedProcessorType = $(this).data("processor-type"); // Set the global variable

        var templateName = $(this).data("template-name");
        var encodedTemplateName = encodeURIComponent(templateName);

        $.ajax({
            url: '/static/templates/' + encodedTemplateName + '.txt',
            type: 'GET',
            success: function(response) {
                editor.setValue(response);
                toastr.info('Template loaded.');
            },
            error: function(error) {
                toastr.error('Error loading template: ' + error.responseText);
            }
        });
    });

    {% if template %}
    $('#createNode').on('click', function() {
        window.location.href = "/nodes/new/{{template.get('template_id')}}";
    });
    {% endif %}
});
</script>
{% endblock %}
