{% extends "pages/auth_base.html" %}

{% block title %}
<title>Login</title>
<meta property='og:title' content="Login to {{ brand.get('name') }}"/>
{% endblock %}

{% block content %}
<div class="container-fluid auth">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="site"><span class="greater-than">&gt;</span> {{brand.get('service')}}</h3>
      <div class="input-group mb-3">
		    <form id="form" method="post">
          <label>Enter the login token that was emailed to you.</label>
          <input autofocus type="password" class="form-control" name="mail_token" placeholder="Paste the code in here and hit enter.">
          {% if next %}
          <input type="hidden" name="next" value="{{next}}">
          {%endif%}
          {% if op %} 
          <input type="hidden" name="op" value="{{op}}">
          {%endif%}
          {% if email %} 
          <input type="hidden" name="email" value="{{email}}">
          {%endif%}
          <small class="form-text text-muted">
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
          </small>
          <button type="submit" class="btn btn-outline-light" title="Use a token for login.">Verify</button>
          <a class="btn btn-danger" title="Cancel" href="/">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      $("#form").submit();
      prevent = setTimeout(function() {
        event.preventDefault();
      }, 1000);
    }
  });
});
</script>
{% endblock %}