/* Fonts */
@font-face {font-family: 'Silka Regular'; src: url('/static/fonts/silka-regular-webfont.ttf') format('truetype'); font-weight: 400; font-style: normal; }
@font-face {font-family: 'Silka Bold'; src: url('/static/fonts/silka-bold-webfont.ttf') format('truetype'); font-weight: 700; font-style: normal; }
@font-face {font-family: 'Silka ExtraLight'; src: url('/static/fonts/silka-extralight-webfont.ttf') format('truetype'); font-weight: 100; font-style: normal; }
@font-face {font-family: 'Orbitron'; src: url('/static/fonts/Orbitron-Black.ttf') format('truetype'); font-weight: 900; /* Adjust as needed */ font-style: normal; }
@font-face {font-family: 'Orbitron'; src: url('/static/fonts/Orbitron-Bold.ttf') format('truetype'); font-weight: 700; /* Bold */ font-style: normal; }
@font-face {font-family: 'Orbitron'; src: url('/static/fonts/Orbitron-ExtraBold.ttf') format('truetype'); font-weight: 800; /* Extra Bold */ font-style: normal; }
@font-face {font-family: 'Orbitron'; src: url('/static/fonts/Orbitron-Medium.ttf') format('truetype'); font-weight: 500; /* Medium */ font-style: normal; }
@font-face {font-family: 'Orbitron'; src: url('/static/fonts/Orbitron-Regular.ttf') format('truetype'); font-weight: 400; /* Regular */ font-style: normal; }
@font-face {font-family: 'Orbitron'; src: url('/static/fonts/Orbitron-SemiBold.ttf') format('truetype'); font-weight: 600; /* Semi Bold */ font-style: normal; }

/* page styles */
body {
  background-color: #101010;
  font-family: 'Silka', 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #d9d9e3;
  text-align: left;
  caret-color: transparent;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 64px; 
  opacity: 90%; 
  font-family: 'Orbitron';
}

h2,h3,h4,h5 {
   font-weight: 360;
   font-family: 'Silka Bold', sans-serif;
   text-transform: uppercase;
   opacity: 90%;
}

element-selector {
  font-family: 'Silka Regular', Roboto;
}

/* Form and label styles */
form, label {
  margin: 0;
  padding: 0;
}

.btn-group {
  flex-wrap: wrap; /* Adjust this if you don't want wrapping */
}

/* Custom margin for the failed count */
#failed_count.ml-2 {
    margin-left: 40px; /* Adjust as needed */
}

.button-node {
  flex: 0 0 auto; /* Do not grow, do not shrink, and is automatically sized based on content */
  width: 83px; /* Fixed width */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 4px;
  color: white;
  transition: box-shadow 0.3s; /* Smooth transition for box-shadow */
}

@keyframes shake {
    0%, 100% {
        transform: translate(0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate(-2px, -2px);
    }
    20%, 40%, 60%, 80% {
        transform: translate(2px, 2px);
    }
}

.shake {
    animation: shake 0.75s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.bounce {
    animation: bounce 0.5s;
}

.button-node.bounce {
    animation: bounce 0.5s ease;
}

.button-node:hover {
  /* Keep the pulse glow effect, remove any bounce effect */
  box-shadow: 0 0 5px gray, 0 0 10px gray;
  color: white;
  animation: pulseGlow 1.5s infinite ease-in-out;
}

.button-pipeline {
  flex: 0 0 auto; /* Do not grow, do not shrink, and is automatically sized based on content */
  width: 103px; /* Fixed width */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 4px;
  color: white;
}


:focus {
  outline: 0;
}

/* Editor styles */
#editor {
  height: 50vw;
  font-size: 13px;
}

#pipelineTable_wrapper {
  padding-top: 16px;
}

/* Button styles */
button {
  -webkit-appearance: none;
  border-radius: 0;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 300px;
  width: 100%;
  padding-top: 80px;
  background: #EEE;
}

.btn-bottoms {
  margin-bottom: 4px;
}

.btn-group {
  flex-wrap: wrap;
}

table.dataTable.no-footer {
  border-bottom: 0px;
}

table.dataTable thead th,table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111
}

table.dataTable.stripe tr.odd {
  background-color: rgba(0,0,0,.05)!important;
}

#buttonSortable, #buttonSortable li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

button.btn-sortable {
  border-radius: 0 !important;
}

#buttonSortable li {
  margin: 0;
  padding-bottom: 18px;
  background-color: transparent;
  border: none;
}

#buttonSortable li i.fa {
  color: rgba(0, 0, 0, 0);
  transition: color 0.2s;
}

#buttonSortable li:hover i.fa {
  color: rgba(0, 0, 0, 0.25);
}

#fileUpload:hover {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

table {
  margin-top: 14px;
}

/* Link styles */
a:hover {
  text-decoration: none;
  color: #96c9ff;
  text-decoration: overline;
}

/* Flash message */
div.flash {
  color: red;
}

/* Login form */
div.login_form {
  margin-top: 160px;
}

div.login_form h2 {
  font-size: 48px;
  font-weight: 700;
}

nav h2 a {
  color: white;
  text-decoration: none;
  transition: text-decoration 0.2s;
}

/* Style the link to be overlined on hover */
nav h2 a:hover {
  color: inherit; /* This makes the text color the same as it normally is */
  text-decoration: none; /* This removes any text decoration like underlines */
  background-color: transparent; /* This ensures no background change occurs */
  outline: none
}

.hero {
  background-color: #101010;
  background: radial-gradient(circle at center center, rgba(128, 128, 128, 0.2) 0%, rgba(128, 128, 128, 0) 800px);
  background-size: cover;
  color: #f4f4f4;
  font-color: #eee;
  padding-top: 135px;
  text-align: center;
  height: 270px;
}

.selected-node {
  margin-bottom: 10px;
}

.badge {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  font-size: 0.8em;
  height: 20px;
}

/* Apply custom styles to badges within the task container */
.task-badge {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  font-size: 0.8em;
  height: 20px;
}

.homelead a {
  color: white;
}

.lead {
  font-size: 20px;
}

.badge-dark {
  padding-top: 5px;
  height: 24px;
}

.dropdown-menu {
  max-height: 480px;
  overflow-y: auto;
}

.text-muted {
  margin-bottom: 14px;
}

.log-dates {
  font-family: 'Courier New', Courier, monospace; /* Example of monospace font */
  font-size:  14px;
  display: inline-block; /* To ensure width is applied */
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  overflow: hidden; /* Prevents overflow of text */
  text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */
  white-space: nowrap; /* Keeps the text in a single line */
}

.json-document {
  padding: 0.6em 2em !important;
}

/* Navbar and sidebar */
.sidebar {
  background-color: #444;
}

.task-badge {
  overflow: visible !important; 
}

.navbar {
  background-color:  #404040;
}

/* Content styles */
.content {
  padding-left: 20px;
}

.video-responsive {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page_heading {
  padding-bottom: 14px;
  color: #4e6b82;
}

/* Code and pre styles */
code, pre {
  position: relative;
  display: block;
  padding: 20px;
  background: #f2f2f2;
  color: #555755;
  overflow: auto;
  white-space: pre-wrap;
  overflow: hidden;
  margin-bottom: 12px;
}

.flash {
  animation: flash 0.5s;
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

span.command-copy {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: .6;
  font-size: 20px;
  color: #555755;
  cursor: pointer;
}

span.log-expand {
  opacity: .6;
  font-size: 20px;
  color: #555755;
  cursor: pointer;
}

/* Code block styles */
.code-block {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
}

/* Callout styles */
.card-callout {
  font-weight: bold;
  font-size: 1.75rem;
  /* Add any other styling you desire for the callout here */
}

.site {
  font-family: 'Orbitron' !important;
  font-size: 2rem;
  font-weight: 500;
}

.site a{
  text-decoration: none;
}

#templateText {
  height: 60vh;
  resize: none;
}

#templateName {
  margin-right: 5px;
}

#userDropdown {
  color: white !important;
}

.container_home {
  margin-top: 80px;
}

.container_dashboard {
  max-width: 85%;
  margin-left: 158px;
}

/* Sidebar styles */
.sidebar {
  background-color: #444;
  height: 100%;
  width: 15%;
  max-width: 192px;
  position: fixed;
  left: 0;
  padding-top: 23px;
  transition: width 0.3s;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Hover effect for links */
.sidebar a:hover {
  font-weight: bold;
}

.highlighted-link {
  background-color: #628395;
}

.sidebar, .container {
  transition: width 0.5s ease, margin-left 0.5s ease;
}

@media (max-width: 865px) {
  .sidebar {
    width: 64px;
  }
  .sidebar a {
    padding: 10px;
    text-align: center;
  }
  .sidebar a span {
    display: none;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-collapse .dropdown {
    flex: 0 0 auto;
  }
  .container {
    margin-left: 64px;
  }  
}

@media (max-width: 999px) {
  .hide-on-medium {
    display: none;
  }
}

@media (max-width: 600px) {
  .hide-on-nmns {
    display: none;
  }
}

@media (min-width: 866px) {
  .sidebar {
    width: 147px;
  }
}

@media only screen and (max-width: 768px) {
  body {

  }
  .hide-on-small {
    display: none;
  }
  .hide-on-medium {
    display: none;
  }
}
